<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">
  <xi:include href="../classifier/_list.html" />
  
  <py:def function="nav_class">nav-entity</py:def>

  <py:def function="page_title" i18n:msg="view_entity">${c.entity['label']}</py:def>

  <div py:def="content">
    <h2>${c.entity['label']}</h2>
    
    <py:if test="hasattr(c, 'viewstate')">
      ${view_panel(c.viewstate)}
    </py:if>

    <div class="span-24 last">
      <div id="vis">
      </div>
    </div>
    
    <div class="span-16">
      <h3>Description</h3>
      <div class="no-desc" py:if="not c.entity.get('description')">
        No description is available for ${c.entity.get('label')}
      </div>
      ${h.markdown(c.entity.get('description'))}
    </div>
    <div class="span-8 last">
      <h3>Research</h3>
      <ul>
        <li><a href="${h.entity_url(c.entity, action='entries')}">Search</a>: ${c.num_entries} spending entries</li>
        <li py:if="c.entity.get('opencorporates_uri') and c.entity.get('opencorporates_uri') != '(Empty)'">
          <a href="${c.entity.get('opencorporates_uri')}">OpenCorporates</a>:
          find more information about this company.
        </li>
      </ul>
    </div>
    
    <div id="detail" class="span-24 last"></div>
    <py:if test="c.view is None">
      <xi:include href="../_browser.html" />
    </py:if>

    <div id="comments" class="comments">
    </div>
    <div id="access" class="span-24 last">
      Download a machine-readable version of <i>${c.entity['label']}</i>: 
      <a href="${h.entity_url(c.entity, action='view', format='json')}"><img src="${h.static('img/icons/json.png')}" alt="JSON" /></a>
    </div>
  </div>

  <xi:include href="../layout.html" />
</html>

