{% extends "base.html" %}
{% from "dataset/_nav.html" import dataset_nav as dataset_nav %}
  
  <!--
  <py:def function="nav_class">nav-dataset</py:def>
  -->

{% block page_title %}
Library of visualisations - {{c.dataset.label or c.dataset.name}}
{% endblock %}

{% block page_desc %}
{{h.markdown_preview(c.dataset.description)}}
{% endblock %}

{% block content %}
  {{dataset_nav(h, c, can, 'views')}}

  <!-- templates/view/index.html content -->
  <div class="row">
    <div class="span8">
      {% for view in c.views %}
      <ul class="unstyled">
        <li>
          <h3><a href="{{h.url_for(controller='view', action='view', dataset=c.dataset.name, name=view.name)}}">
            {{view.label}}</a></h3>
          <span class="label label-info">{{view.widget}}</span> by {{view.account.display_name}}
        </li>
      </ul>
      {% endfor %}
    </div>  
  </div>
{% endblock %}


