{% extends "base.html" %}
{% from "editor/_nav.html" import editor_nav as editor_nav %}

{% block page_title %}{% trans %}Report{% endtrans %}: {{ h.readable_url(c.source.url) }}{% endblock %}

{% block content %}
<!-- templates/run/view.html -->
{{editor_nav(h, c, 'index')}}
<h3>
  {% trans %}Report{% endtrans %}:
  {{ h.readable_url(c.source.url) }}
  ({{ c.run.records.count() }} {% trans %}errors{% endtrans %}, {{ c.run.status }})
</h3>
{% if not (c.num_data or c.num_system) %}
<div class="alert block-message alert-success">
  <strong>{% trans %}Nothing to report!{% endtrans %}</strong> {% trans %}The source has been loaded
  successfully. This does not mean the data is stored in a form 
  which is semantically useful, though, so don't forget to 
  sanity-check a few entries!{% endtrans %}
</div>
{% endif %}

{% if c.num_system %}
<div class="row">
  <div class="span12">
    <table class="table table-condensed table-striped">
      <tr>
        <th>{% trans %}Level{% endtrans %}</th>
        <th>{% trans %}Message{% endtrans %}</th>
        <th>{% trans %}Error{% endtrans %}</th>
      </tr>
      {% for record in c.system_page %}
      <tr>
        <td>{{ record.level }}</td>
        <td>{{ record.message }}</td>
        <td><pre>{{ record.error }}</pre></td>
      </tr>
      {% endfor %}
    </table>
    {{ c.system_page.pager(page_param='system_page') }}
  </div>
</div>
{% endif %}

{% if c.num_data %}
<div class="row">
  <div class="span12">
    <table class="table table-condensed table-striped">
      <tr>
        <th>{% trans %}Row{% endtrans %}</th>
        <th>{% trans %}Column{% endtrans %}</th>
        <th>{% trans %}Attribute{% endtrans %}</th>
        <th>{% trans %}Value{% endtrans %}</th>
        <th>{% trans %}Error{% endtrans %}</th>
      </tr>
      {% for record in c.data_page %}
      <tr>
        <td>{{ record.row }}</td>
        <td><code>{{ record.column }}</code></td>
        <td><code>{{ record.attribute }}</code></td>
        <td>{{ record.value }}</td>
        <td>{{ record.message }}</td>
      </tr>
      {% endfor %}
    </table>
    {{ c.data_page.pager(page_param='data_page') }}
  </div>
</div>
{% endif %}
{% endblock %}
