<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <py:def function="nav_class">nav-dataset</py:def>

  <py:def function="page_title">Entries Search</py:def>

  <div py:def="content">
    <!-- templates/entry/search.html -->

    <h2 class="page-header">Search</h2>
    <div>
      <form class="basic form-horizontal" id="search" method="GET">
        <input name="q" placeholder="search..." />
        <input value="Search" class="btn btn-success" type="submit" />
      </form>
    </div>

    <div id="search-results"></div>
  </div>

  <xi:include href="../layout.html" />
  <script id="search-result-template" type="text/x-handlebars-template">
    <div id='r-{{id}}' class='result'>
      <div class='title'><a href="{{html_url}}">{{_title}}</a></div>
      <div class='dataset'>
        <a href='{{dataset.html_url}}'>{{dataset.label}}</a>
        &middot; {{amount}} &middot; {{time.label}}
      </div>
      <div class='teaser'>{{_teaser}}</div>
    </div>
  </script>
  <script id="search-result-teaser-template" type="text/x-handlebars-template">
    {{description}}
  </script>
  <script id="search-result-title-template" type="text/x-handlebars-template">
    {{to.label}}
  </script>
  ${script_tag('lib/vendor/jquery.highlight-3.min')}
  ${script_tag('lib/entries-search')}
</html>
