<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <py:def function="nav_class">nav-entry</py:def>

  <py:def function="page_title">Entry Details</py:def>

  <div py:def="content" class="entry-page">

    <h2 class="page-header">
      <div class="representations">
        <a href="${url(controller='entry', action='view', dataset=c.dataset.name, id=c.id, format='json')}">
          <img src="${h.static('img/icons/json.png')}" alt="JSON" />
        </a>
      </div>
      Entry in ${c.dataset.label}
      <small>Detailed View of Transaction</small>
    </h2>

    <div class="row">
      <py:if test="c.custom_html">
        ${Markup(c.custom_html)}
      </py:if>
    </div>
    <br/>
    
    <div class="row">
      <div class="entities span7">
        <span>
          ${c.desc.get('from', {}).label or _('Recipient')}:
        </span>
        <div>
          <img src="${h.static('img/icons/arrow_left_12x12.png')}" />
          <a py:if="c.from_"
                href="${h.url_for(controller='dimension', action='member',
                dataset=c.dataset.name, dimension='from',
                name=c.from_.get('name'))}">${h.render_value(c.from_)}</a>
        </div>
        <span>
          ${c.desc.get('to', {}).label or _('Spender')}:
        </span>
        <div>
          <img src="${h.static('img/icons/arrow_right_12x12.png')}" />
          <a py:if="c.to"
                href="${h.url_for(controller='dimension', action='member',
                dataset=c.dataset.name, dimension='to',
                name=c.to.get('name'))}">${h.render_value(c.to)}</a>
        </div>
      </div><!-- /.entities -->

      <div class="amount span8">
        <div class="number">
          <img src="${h.static('img/icons/cd_16x16.png')}" />
          ${h.format_number_with_commas(c.amount)}
          <div class="currency">${c.currency}</div>
          <div class="date">
            <img src="${h.static('img/icons/calendar_alt_stroke_16x16.png')}" />
            ${c.time.get('name')}
          </div>
        </div><!-- /.number -->
      </div><!-- /.amount -->
    </div>

    <br/>
    <div class="row">
      <div class="span16">
        <table width="100%">
          <thead>
            <tr>
              <th>Dimension</th>
              <th>Value</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr py:for="key, value in sorted(c.extras.items())">
              <td py:choose="">
                <py:when test="c.desc.get(key)">
                  <a href="${h.url_for(controller='dimension', action='view',
                    dataset=c.dataset.name, dimension=key)}">
                    ${c.desc.get(key).label or c.desc.get(key).name}:
                  </a>
                </py:when>
                <py:otherwise>${key}:</py:otherwise>
              </td>
              <td py:choose="">
                ${h.dimension_link(c.dataset.name, key, value)}
              </td>
              <td>
                <i>${c.desc.get(key).description}</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <py:if test="c.entry.get('description')">
      <h3>Notes:</h3>
      <dd>${h.markdown(c.entry.get('description'))}</dd>
    </py:if>
  </div><!-- /.content -->

  <xi:include href="../layout.html" />
</html>

