<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <py:def function="nav_class">nav-entry</py:def>

  <py:def function="page_title">Entry Details</py:def>

  <py:def function="primary_sidebar_extras">

    <ul id="dashboard-submenu" class="flash-menu">
      <li class="sharethis">
        <span class="st_twitter_hcount" displayText="Tweet"></span>
        <span class="st_facebook_hcount" displayText="Share"></span>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'99b03eb4-c4cc-4604-89e9-a2ff6f595e17'});</script>
      </li>
      <li style="margin-top:10px;"><a href="#comments">Comment on this item &raquo;</a></li>
    </ul>

    <div style="clear: both;"></div>

  </py:def>

  <div py:def="content" class="entry-page">

    <h2>Entry: Detailed View of Transaction</h2>
    <p>
      This is a single transaction of ${c.currency}
      ${h.format_number_with_commas(c.amount)} on ${c.time} in
      <a href="${h.dataset_url(c.dataset)}">${c.dataset.label or c.dataset.name}</a>.
    </p>

    <py:if test="c.custom_html">
      ${Markup(c.custom_html)}
    </py:if>

    <div class="clearfix"></div>

    <div class="entities">
      <span>
        ${c.desc.get('from', {}).label or _('Recipient')}:
      </span>
      <div>
        <img src="${h.static('img/icons/arrow_left_12x12.png')}" />
        <a py:if="c.from_"
              href="${h.url_for(controller='classifier', action='view',
              dataset=c.dataset.name, taxonomy='entity',
              name=c.from_.get('name'))}">${h.render_value(c.from_)}</a>
      </div>
      <span>
        ${c.desc.get('to', {}).label or _('Spender')}:
      </span>
      <div>
        <img src="${h.static('img/icons/arrow_right_12x12.png')}" />
        <a py:if="c.to"
              href="${h.url_for(controller='classifier', action='view',
              dataset=c.dataset.name, taxonomy='entity',
              name=c.to.get('name'))}">${h.render_value(c.to)}</a>
      </div>
    </div><!-- /.entities -->

    <div class="amount">
      <div class="number">
        <img src="${h.static('img/icons/cd_16x16.png')}" />
        ${h.format_number_with_commas(c.amount)}
        <div class="currency">${c.currency}</div>
        <div class="date">
          <img src="${h.static('img/icons/calendar_alt_stroke_16x16.png')}" />
          ${c.time.get('name')}
        </div>
      </div><!-- /.number -->
    </div><!-- /.amount -->

    <table width="100%">
      <thead>
        <tr>
          <th>Dimension</th>
          <th>Value</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="key, value in sorted(c.extras.items())">
          <td py:choose="">
            <py:when test="c.desc.get(key)">
              <a href="${h.url_for(controller='dimension', action='view',
                dataset=c.dataset.name, dimension=key)}">
                ${c.desc.get(key).label or c.desc.get(key).name}:
              </a>
            </py:when>
            <py:otherwise>${key}:</py:otherwise>
          </td>
          <td py:choose="">
            ${h.dimension_link(c.dataset.name, c.desc.get(key), value)}
          </td>
          <td>
            <i>${c.desc.get(key).description}</i>
          </td>
        </tr>
      </tbody>
    </table>

    <py:if test="c.entry.get('description')">
      <h3>Notes:</h3>
      <dd>${h.markdown(c.entry.get('description'))}</dd>
    </py:if>

    <div id="comments" class="comments"></div>

    <div id="access" class="span-24 last">
      Download a machine-readable version of this entry:
      <a href="${url(controller='entry', action='view', dataset=c.dataset.name, id=c.id, format='json')}">
        <img src="${h.static('img/icons/json.png')}" alt="JSON" />
      </a>
    </div>

  </div><!-- /.content -->

  <xi:include href="../layout.html" />
</html>

