<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
  <xi:include href="../_util.html" />  

  <py:def function="widget_elem(widget)" py:if="widget">
    <!-- templates/view/_widgets.html widget_elem -->
    <div id="widget"></div>
  </py:def>

  <py:def function="widget_js(name, widget, state, handles=False,
                    embed=False)" py:if="widget">
    <!-- templates/view/_widgets.html widget_js -->
    ${script_tag('lib/widgets')}
    ${script_tag('app/bob/bob')}
    <script type="text/javascript" src="${widget.js}"></script>
    <script defer="defer">
        $(function() {
            var state = ${h.json.dumps(state, indent=2)};
            var context = {
              dataset: "${c.dataset.name}",
              siteUrl: "${h.site_url()}",
              embed: ${"true" if embed else "false"}
              };
            window.wdg_${name} = new ${widget.class_name}($('#${name}'), context, state);
            ${handles_js(name, widget) if handles else ''}
        });
    </script>
  </py:def>

  <py:def function="handles_js(name, widget)">
    window.wdg_${name}.then(function(w) {
      var embedder = new OpenSpending.Widgets.Embedder(w, context, '${widget.name}');  
      $("#widget-embed-link").click(function(e) {
        embedder.render();
        return false;
      });
      if (w.configure !== undefined) {
        $("#widget-edit-link").show();
        $("#widget-edit-link").click(function(e) {
          w.configure(null);
          return false;
        });
      }
      if (w.getDownloadURL !== undefined) {
        $("#widget-download-link").show();
        $("#widget-download-link").click(function(e) {
          document.location.replace(w.getDownloadURL());
          return false;
        });
      }
    });
  </py:def>

</html>



