<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
  <xi:include href="../_util.html" />  

  <py:def function="widget_elem(widget)" py:if="widget">
    <!-- templates/view/_widgets.html widget_elem -->
    <div id="widget"></div>
  </py:def>

  <py:def function="widget_js(widget, state, time)" py:if="widget">
    <!-- templates/view/_widgets.html widget_js -->
    <script type="text/javascript" src="${widget.js}"></script>
    <script>
        var state = ${h.json.dumps(state, indent=2)};
        var context = {
            dataset: "${c.dataset.name}",
            siteUrl: "${h.site_url()}",
            time: "${time}"
            };

        (function ($) {
            window.widget = new ${widget.class_name}($('#widget'), context, state);
        })(jQuery);
    </script>
  </py:def>

</html>



