<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <xi:include href="../dataset/_nav.html" />
  <xi:include href="../view/_widgets.html" />
  
  <py:def function="nav_class">nav-dataset</py:def>

  <py:def function="page_title">${c.named_view.label} - ${c.dataset.label or c.dataset.name}</py:def>
  <py:def function="page_description()">${h.markdown_preview(c.named_view.description or c.dataset.description)}</py:def>

  <py:def function="optional_head">
  </py:def>

  <py:def function="scripts">
    <!-- templates/dataset/view.html scripts -->
    ${widget_js('widget', c.widget, c.named_view.state, handles=True)}
    ${share_scripts()}
    <script type="text/javascript">
      $("#view-delete-link").click(function(e) {
        $("#delete-view").submit();
      });
    </script>
  </py:def>

  <div py:def="content">
    ${dataset_nav('views')}

    <!-- templates/view/view.html content -->
    <div class="row">
      <py:if test="can.view.update(c.dataset, c.named_view)">
      <form id="widget-save-form" action="${h.url(controller='view', action='update', dataset=c.dataset.name, name=c.named_view.name)}" style="display:none;" method="post">
	<div class="span7">
	  <input type="text" class="span6" name="label" value="${c.named_view.label}"/>
	  <textarea class="span6" rows="6" name="description">${c.named_view.description}</textarea>
	  <input type="hidden" id="widget-save-state" name="state" value="${str(c.named_view.state)}"/>
	</div>
	<div class="span5">
	  <p>
	    <div class="help-block">
	      Here you can rename your widget and/or update the description.
	      You can also change and modify the the widget itself but keep in
	      mind that others might be using and embedding the widget as it is
	      now on their sites. <strong>Changing the widget here will change
	      it everywhere.</strong> This might then create a discrepancy
	      between the widget and the context of a page it's embedded in.
	    </div>
	  </p>
	  <p><button class="btn btn-large btn-success">Update widget</button></p>
	</div>
      </form>
      </py:if>
    </div>
    <div class="row">
      <div class="span12">
	<div id="widget" style="width: auto; min-height: 400px"/>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div class="well widget-context">
          <div class="pull-right">
            <py:if test="can.view.delete(c.dataset, c.named_view)">
              <a href="#" class="btn btn-mini btn-danger"
                id="view-delete-link"><i class="icon-trash icon-white"></i> Delete</a>
            </py:if>
            <a href="#" class="btn btn-mini" id="widget-embed-link"><i class="icon-share"></i> Embed</a>
            <a href="#" class="btn btn-mini hidden" id="widget-edit-link"><i class="icon-cog"></i> Change</a>
            <a href="#" class="btn btn-mini hidden" id="widget-download-link"><i class="icon-download"></i> Data</a>
          </div>
           <p>${c.named_view.description}</p>
        </div>
      </div>
    </div>

    <form action="${h.url_for(controller='view', action='delete',
      dataset=c.dataset.name, name=c.named_view.name)}"
      method="POST" id="delete-view">
      <input type="hidden" name="_method" value="DELETE" />
    </form>

    ${share_body()}
  </div>

  <xi:include href="../layout.html" />
</html>

