<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <xi:include href="../dataset/_nav.html" />
  
  <py:def function="nav_class">nav-dataset</py:def>

  <py:def function="page_title">${c.view.label} - ${c.dataset.label or c.dataset.name}</py:def>

  <py:def function="optional_head">
  </py:def>

  <py:def function="page_description()">${h.markdown_preview(c.view.description or c.dataset.description)}</py:def>

  <py:def function="scripts">
    <!-- templates/dataset/view.html scripts -->
    ${share_scripts()}
  </py:def>

  <div py:def="content">
    ${dataset_nav('views')}

    <!-- templates/view/view.html content -->
    
    ${share_body()}
  </div>

  <xi:include href="../layout.html" />
</html>

