OS_BASE_URL=http://localhost:8080

OS_API_ENGINE=postgresql://postgres@db/postgres
OS_ELASTICSEARCH_ADDRESS=es:9200
OS_API_CACHE=redis
OS_CONDUCTOR_ENGINE=postgresql://postgres@db/postgres

# OAuth credentials for OS-Conductor
# (see https://github.com/openspending/os-conductor#oauth-credentials)
OS_CONDUCTOR_SECRETS_0="eJyN1dmuo0gSBuBXKZ1bug47mJH6gh3MYnYM8g1mM4sTsy+teffxqemRekY9peI2RSgU+Wd8f3y8hmpJpvzzlT8//vHt4/vXx4myan5zXPab5agB64nfNDH6cXIDhqqKL1blWFbjWVtkD3cIYHdzTG0uUqpAZFudI4N1S46/VOeQLBYeyFNgqEO4cHbH34DEvhh7dZThbg/2ubJKKup74C3yIxxHndQNY3FO9fV6eUm+dkSJW0aJPaG6afDr1BvcDSCS7Ao1N9yf4hMIbkeViJlsjwpyz1ecM9I0R0Ov1Jz9vuAmLkHlmclOq9XsG7M9Mly5AQJDkFZpCI+8aiSk76zlAouWTD/ysrPjbJoUlrE0qyokbtRz8jWf0eOxZLac5SkEx28ge7pRTu5hkQ1S/njai8X5gUIo+qSjxdUz9+t8xOt0QRcKtVN0hmu6NMZBuYYQkY61ewN4K6xVZakl1aMPj6Xtc8ahBjTUCWbIULfqiM90qyqwNsux3XviSsnS+wS"
OS_CONDUCTOR_SECRETS_1="q2HYNIIQ3MB6jU6qNMRAh3yer7eG8FMpVU/Nedqn0IdFw7WJugkzir8JPNdNh8t21xpVUNi9WrRsYBJHJnhQ/R2fBt9/TQPyc7qeiGBPaf0pbYAWcbwFp6ISykpT6haCKtI9PCb/SWXSG37e5j4QkrBo2+Ft3TcGjudApOSXiwFqP13OBbJAGXNPNNn7n6FOyUKmS2UUH0Va6RM67h42qBIutjdeBrhIqNRnzdJUkq+e+5XFpvt9XUSOBN7stASxf12gt4RfGrLf98PwKe9+FEDaMzS/QK1c1GH3QZHrnmDxY4mRXWqkNzEmgjWEjhzyrQpZz+8XUnQVOYgTuSEgybgBNtyqyRL6MRJZhxYFCeKsNmYW7JCmvPkGohKIC++JaEYnpcdsrFkNnNhEFPDmIcKZ3hTtE692V6tqAM9H9FKnr0QgXPri3UuJBnsKZlUiz3Mqd6BSpowzzdXs8+iG/11erO27g1NNGXz4EiKiEYrEw+1ktryQrclk+IkklmDsdki"
OS_CONDUCTOR_SECRETS_2="msLsSKdGE5T9Udegjjj55RRGhu4GGsJYX2VBSwuaf2IKCPuS4OT60Khm1yiy1MvWv1DCDcRuou1Vlb7vjbvhNP9bkOxQ28qD2WL1eY7tKdHmz8CktUMW/rLCc0YZmxtbb6LNC+bw0wfLFmu3p0grboEIldQ5b0b8BGmPGqQVq7zAohnEl/VHimKVlvn2XTv+TXiFOUe/Oja/oU96cNiy8H1c+237Vx+vWyxCM/ml05R4RmW05OBX4+shw5VDsuEQb2XhF5bdgvDA4nJxr5oW1x8IAsFGGyYXeEG5Bfd7O2kSE8xGCP6ZnQD6eyCVw+7lLBT1A+Menhh6moOuxMmzldt54buw2CR+/AmuN7kqdaZhuvsigei9Buzkx6X6evWXNsqCZ4DHXv91KnZ4FIsnAL8dX1abRzVZN13QAGNwDarpodQZKCHAPRGvX3R9eYnq8G12Ne2+eA6CqecODcBaLJvWNfGrUNH5UxLRzL4e/90LsYkW45RkXS3pydbFIdSPFET"
OS_CONDUCTOR_SECRETS_3="cRo9KGP5sgGWUexnivkO9xdGl6N5Ph4dqltJs14it+TbF4Gb2tcafNFTJMD2sLK8Xrc6VNUFsx0OdDIl/oV3iKmLuYiJHiYdMsA67EJZuPunSi92nbLOrnHOVUwpNKylGlces0rm0XazMPcaKECj1b70sYruI+yyzMpy5qTE3VWOfi9q+34cuZA4hrBWSrg+ILCaNXKgVzEMe4ZFxb1zm3qxdXYkNTkePemWnTG/v33G/gBjmgKfwvRx2/fPsquK9v8c8zTIZ8+m3z/AoycLzG6fHeqoqSPOLhaNh6vekN8/fCa722V/g11ls/pKv/fynFqzZpc2fSPppKZFeHe2kkse3mrd2K/zvny/wt4Az8z8FcEfO+Dnxj4KwLewM8M/BUBb+BnBv6KgO8KPzHwVwS8gf8Y+JdE/M99/SUMf6aAZlCKplASQRnsO0GgDTMnAwnSBMMI8rGcMJRCx6QbhhRhkM/k9Ro//11gHvMh7cCUg+kz7Z4f//wXsJP+cA=="

# AWS S3 (FakeS3 used for development)
OS_ACCESS_KEY_ID=fakes3
OS_SECRET_ACCESS_KEY=fake123
OS_S3_HOSTNAME=fakes3
OS_STORAGE_BUCKET_NAME=fake-bucket
