/pyenv
/*.ini
!/test_continuous.ini
/*.egg-info
*.pyc
*.egg
*.DS_Store
/.pylons_data
/solr/conf
/solr/data
/.noseids
/linesman-enabled
*.DS_Store
openspending.db
/db
.*.swp
openspending/templates/help/*
doc/_build/*
openspending/static/openspendingjs
openspending/static/.webassets-cache/*
openspending/static/prod/*
openspending/static/vendor/*
openspendingjs
solr
*~
.tx/config
build/*
.vagrant
.project
.pydevproject
settings.py
.env
tmp/*
