Babel==1.3
Beaker==1.6.3
FormEncode==1.2.4
FormEncode-Jinja2==0.1.2
Jinja2==2.7.2
Mako==0.7.1
MarkupSafe==0.18
Paste==1.7.5.1
PasteDeploy==1.5.0
PasteScript==1.7.5
Pygments==1.5
Pylons==1.0
Routes==1.13
SQLAlchemy==0.9.4
Sphinx>=1.2b
Tempita==0.5.1
Unidecode==0.04.9
WebError==0.10.3
WebHelpers==1.3
WebOb==1.0.8
WebTest==1.3.4
amqplib==1.0.2
anyjson==0.3.3
argparse==1.2.1
celery==3.1.11
certifi==0.0.8
chardet==1.0.1
colander==0.9.3
datapackage==0.1.2
decorator==3.3.3
docutils==0.9.1
economics==0.1.1
iso8601==0.1.4
kombu==3.0.15
lxml==2.3.4
messytables==0.2.1
mock==0.8.0
nose==1.1.2
oauthlib==0.1.3
openpyxl==1.5.7
ordereddict==1.1
osvalidate==2012-05-29.01
psycopg2==2.5
python-dateutil==1.5
repoze.lru==0.5
repoze.who==2.0
repoze.who-friendlyform==1.0.8
requests==0.12.1
rsa==3.1.1
simplejson==2.6.0
solrpy==0.9.4
sqlalchemy-migrate==0.9
translationstring==1.1
xlrd==0.7.1
zope.interface==4.0.1
