{% extends "base.html" %}
{% from "dataset/_nav.html" import dataset_nav as dataset_nav %}
{% block page_title %}{{c.dataset.label}}{% endblock %}

{% block optional_head %}
    {{h.style_tag('lib/vendor/datatables/css/jquery.dataTables')}}
    {{h.style_tag('lib/vendor/datatables/dataTables.bootstrap')}}
{% endblock %}

{% block scripts %}
    {{h.script_tag('lib/vendor/datatables/js/jquery.dataTables')}}
    {{h.script_tag('lib/vendor/datatables/dataTables.bootstrap')}}
    {{h.script_tag('app/data_table/openspending.data_table')}}
    {{h.script_tag('app/faceter/openspending.faceter')}}
    {{h.script_tag('app/browser/openspending.browser')}}
{% endblock %}

{% block content %}
    <!-- templates/entry/index.html -->
    {{dataset_nav(h, c, can, 'search')}}

    <div class="row">
      <div class="span9">
        <div role="grid">
          <form class="form-horizontal" action="" method="get">
            <input type="text" name="q" class="span9" placeholder="Search..." value="{{ c.search }}">
          </form>
          <hr/>
          <table class="table table-striped table-condensed" cellspacing="0" cellpadding="0" border="0">
            <thead>
              <tr role="row">
                <th>{% trans %}Time{% endtrans %}</th>
                <th>{% trans %}Amount{% endtrans %}</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              {% for entry in c.entries %}
              <tr>
                <td>{{ entry.time.year }}</td>
                <td>{{ h.format_currency(entry.amount, c.dataset) }}</td>
                <td><a href="{{ h.url_for(controller='entry', action='view', dataset=c.dataset.name, id=entry.id) }}">{% trans %}details{% endtrans %}&raquo;</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {{ c.entries.pager() }}
        </div>
      </div>
      <div class="span3">
        {% for facet, values in c.facets.iteritems() %}
        <h4>{{ c.facet_dimensions[facet].label }}</h4>
        <table class="table table-condensed facets">
          <tbody>
            {% for item, count in values %}
            <tr>
              <td class="count num" width="5%">{{ count }}</td>
              <td>
                {% if facet not in c.filters %}
                {% set filters = h.join_filters(c.filters, append=[(facet,item.name)]) %}
                {% else %}
                {% set filters = h.join_filters(c.filters, remove=[(facet,item.name)]) %}
                {% endif %}
                {% if filters %}
                <a href="{{ h.url_for(controller='entry', action='index', dataset=c.dataset.name, filter=filters) }}">{{ item.label }}</a>
                {% else %}
                <a href="{{ h.url_for(controller='entry', action='index', dataset=c.dataset.name) }}">{{ item.label }}</a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}
      </div>
    </div>
    {% if c.timerange %}
    <div class="row">
      <div class="span4">
	<p><small>{% trans %}Time range for dataset:{% endtrans %} {{ c.timerange.from.strftime('%Y-%m-%d') }} - {{ c.timerange.to.strftime('%Y-%m-%d') }}</small></p>
      </div>
    </div>
    {% endif %}
{% endblock %}
