

/* Front page */
.banner {
    background: #83bf5b;
    position: relative;
}
.searchbar {
    position: relative;
}

.banner .row {
    min-height: 200px;
    color: #333;
}

.banner h1 {
    margin-top: 20px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.3em;
}

.banner .blurb {
    padding-top: 20px;
    font-size: 18px;
}

.statistics, .searchbar .search {
    position: absolute;
    padding: 20px;
    background: #6a9b4a;
}
.statistics p {
    text-align: center;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.3em;
}
.statistics {
    bottom: 0px;
}
.search {
    top: 0px;
}
.searchbar h2 {
    padding-top: 25px;
    padding-bottom: 20px;
}
.search form {
    margin: 0;
}
.search input {
    font-size:1.3em;
    height: 1.5em;
    border: none;
    box-shadow: none;
    margin: 0px;
}

#fp-blurb p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin-top: 1em;
  font-size: 14px;
    line-height: 1.6em;
}

#fp-map {
    margin-top:20px;
    height: 320px;
}

#fp-map svg path.regions {
/*  stroke: #83bf5b;*/
    stroke:none;
}

#fp-map svg path.bg {
    /*
  stroke: #d3d0d0;
    fill: #d3d0d0;
  */
  stroke: #6a9b4a;
  fill: none;
}

#fp-search {
  margin-top: 10px;
  padding: 4px;
  margin-bottom: 10px;
  margin-top: 0px;
}

#fp-search input {
  padding: 6px;
  font-size: 1.1em;
  margin-bottom: 0px;
}
