{% extends "base.html" %}

{% block page_title %}Welcome{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{static_path('openspendingjs/lib/vendor/raphael-min.js')}}"></script>
  <script type="text/javascript" src="{{static_path('openspendingjs/lib/vendor/kartograph/kartograph.min.js')}}"></script>
  <script type="text/javascript" src="{{static_path('openspendingjs/lib/vendor/chroma.js')}}"></script>
  <script type="text/javascript" src="{{static_path('js/choropleth.js')}}"></script>
{% endblock %}

{% block banner %}
  <div class="row">
    <div class="span7">
      <div id="fp-map" class="choropleth" data-map-width="550" data-colorscale="#83bf5b,#92c76f,#a1cf83,#b0d797,#bfdfab,#cee7bf,#ddefd3,#ecf7e7,#ffffff"></div>
    </div>
    <div class="span5">
      <h1>{% trans %}It's our money!{% endtrans %}</h1>
      <p class="blurb">{% trans %}By understanding how governments spend money <strong>in our name</strong> can we have a say in how that money will affect our own lives.{% endtrans %}<br/>{% trans %}The journey starts here.{% endtrans %}
      <div class="row">
        <div class="statistics span5">
          <p>{% trans territory_count=territories|length %}{{ territory_count }} countries{% endtrans %}</p>
          <p>{% trans dataset_count=datasets.count() %}{{ dataset_count }} datasets{% endtrans %}</p>
          <p>{% trans entry_count=num_entries %}{{ entry_count }} entries{% endtrans %}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="searchbar">
    <div class="row">
      <div class="span7 ad">
        <h3 style="margin-top:10px;">{% trans %}Featured Application{% endtrans %}</h3>
        <p style="font-size:105%">{% trans %}How much is that really? &mdash; See the stories behind the numbers in the news with the <a href="http://spendingstories.org" target="_blank">Spending Stories application</a>.{% endtrans %}</p>
      </div>
      <div class="span5">
        <div class="row">
          <div class="search span5">
            <form action="{{ url_for('entry.search') }}"><input class="span5" type="text" placeholder="{% trans %}Search{% endtrans %}..." name="q"></form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="text-align:center; margin-top:40px;">
    <div class="span3">
      <h2>{% trans %}Upload{% endtrans %}</h2>
        <a title="00-visualize by okfn, on Flickr" href="http://openspending.org/datasets/new"><img src="//farm4.staticflickr.com/3669/9575045401_5a752545b0_n.jpg" class="img-rounded" alt="00-visualize"></a>
        <p>{% trans %}Upload any kind of financial data to OpenSpending and explore it with our built-in interactive visualizations.{% endtrans %} {% trans %}Users publish <a href="https://openspending.org/budgetmarocain">budgets</a>, <a href="https://openspending.org/marches-publics-senegal/views/liste-des-attributaires">procurements</a>, <a href="https://openspending.org/ukgov-25k-spending">spending data</a> and even <a href="https://openspending.org/senadofederal/entries">public employee salaries</a>.{% endtrans %}</p>

        <p>{% trans %}Use our <a href="http://www.pbs.org/idealab/2013/03/how-to-embed-open-spending-visualizations-in-your-own-website078">widgets</a> to embed your visualization on your own website.{% endtrans %}</p>

        <p><a href="{{ url_for('dataset.new') }}" class="btn btn-success btn-large" title="{% trans %}Create a dataset{% endtrans %}">{% trans %}Upload a dataset{% endtrans %}</a></p>
      </div>
      <div class="span3">
        <h2>{% trans %}Explore{% endtrans %}</h2>
        <a title="01-explore by okfn, on Flickr" href="http://openspending.org/search"><img src="//farm4.staticflickr.com/3670/9575044337_71d0e520ae_n.jpg" class="img-rounded" alt="01-explore"></a>
		<p>{% trans transactions=num_entries/1000000, datasets=datasets.count(), territories=territories|length %}OpenSpending holds more than {{ transactions }} mio. transactions from {{ datasets }} datasets across {{ territories }} countries.{% endtrans %}</p>
              
        <p>{% trans indexurl=url_for('dataset.index') %}Browse the <a href="{{ indexurl }}">list of datasets</a> and learn about public finances from around the world, or browse <a href="http://apps.openspending.org/maps/">our map of cities</a> on OpenSpending.{% endtrans %}</p>
              
        <p><a href="{{ url_for('entry.search') }}" class="btn btn-success btn-large" title="{% trans %}Search the datasets{% endtrans %}">{% trans %}Search transactions{% endtrans %}</a><br/><small><a href="{{ url_for('dataset.index') }}" title="{% trans %}List of datasets{% endtrans %}">{% trans %}...or look at the datasets{% endtrans %}</a></small></p>
      </div>
      <div class="span3">
        <h2>{% trans %}Visualize{% endtrans %}</h2>
        <a title="02-extend by okfn, on Flickr" href="http://community.openspending.org/help/api/"><img src="//farm6.staticflickr.com/5549/9577836924_378752d5f3_n.jpg" class="img-rounded" alt="02-extend"></a>
        <p>{% trans %}Create your own visualizations with the <a href="http://community.openspending.org/help/api/aggregate/">OpenSpending API</a> using libraries like <a href="http://community.openspending.org/2013/08/20/okfb-inesc/">D3.js</a>, jit, and Raphael.{% endtrans %}</p>
        
        <p>{% trans %}You can even create a satellite site while still using OpenSpending as a backend.{% endtrans %}</p>
        
        <p><a href="http://community.openspending.org/help/api/" class="btn btn-success btn-large" title="{% trans %}API documentation{% endtrans %}">{% trans %}Look at the API{% endtrans %}</a></p>
      </div>
      <div class="span3">
        <h2>{% trans %}Contribute{% endtrans %}</h2>
        <a title="03-community by okfn, on Flickr" href="http://community.openspending.org/get-involved/community/"><img src="//farm6.staticflickr.com/5475/9575044189_f4de292c78_n.jpg" class="img-rounded" alt="03-community"></a>
        <p>{% trans %}OpenSpending is a community run project and all material is open - open-source code and open data.{% endtrans %}</p>
              
        <p>{% trans %}Get involved in loading data, developing the technology, doing analysis or writing news stories!{% endtrans %}</p>
              
        <p><a href="http://community.openspending.org/contribute/" class="btn btn-success btn-large" title="{% trans %}Community introduction{% endtrans %}">{% trans %}Join the spending community{% endtrans %}</a></p>
      </div>
    </div>
    <div class="row" style="text-align:center; margin-top:60px;">
      <div class="span6">
        <h3>{% trans %}Join our discussion list!{% endtrans %}</h3>
        <form action="http://lists.okfn.org/mailman/subscribe/openspending" method="POST" class="form-inline">
          <input type="text" class="input-xlarge" name="email" placeholder="{% trans %}Email{% endtrans %}" />
          <button type="submit" class="btn" onClick="_gaq.push(['_trackEvent', 'Mailing lists', 'Register', 'Discussion direct']);">{% trans %}Sign up{% endtrans %}</button>
        </form>
      </div>
      <div class="span6">
        <h3>{% trans %}Join our developer list!{% endtrans %}</h3>
        <form action="http://lists.okfn.org/mailman/subscribe/openspending-dev" method="POST" class="form-inline">
          <input type="text" class="input-xlarge" name="email" placeholder="{% trans %}Email{% endtrans %}" />
          <button type="submit" class="btn" onClick="_gaq.push(['_trackEvent', 'Mailing lists', 'Register', 'Developer direct']);">{% trans %}Sign up{% endtrans %}</button>
        </form>
      </div>
    </div>
    <div class="row" style="text-align:center; margin-top:60px;">
        <div class="social-links">
          <a href="http://twitter.com/openspending" onClick="_gaq.push(['_trackEvent', 'Social media', 'Follow', 'Twitter']);"><img src="//d8r2br52tx8wq.cloudfront.net/branding/images/grey_twitter_icon.png" /></a>
          <a href="http://feeds.feedburner.com/openspending" onClick="_gaq.push(['_trackEvent', 'Social media', 'Follow', 'Feed']);"><img src="//d8r2br52tx8wq.cloudfront.net/branding/images/grey_feed_icon.png" /></a>
        </div>
    </div>
      </div>
    </div>
    <div class="row">&nbsp;</div>
  </div>
{% endblock %}
