{% extends "base.html" %}

{% block page_title %}{% trans %}REST API{% endtrans %}{% endblock %}

{% block content %}
  <div>
    <h2>{% trans %}The Store's REST API{% endtrans %}</h2>
    
    <p>{% trans %}This API returns JSON versions of the store's domain objects.
    The URLs are generally the same as the URLs used by the web interface for
    the same objects, but with "/api/rest" prepended.{% endtrans %}
    </p>

    <p>
    {% trans %}Here are some examples{% endtrans %}:</p>

    <ul>
	  {% for u in c.urls %}
      <li>
        <a href="{{u}}">{{u}}</a>
      </li>
	  {% endfor %}
    </ul>
    
    <p>{% trans %}The JSON response generally contains the same information as the
    corresponding web page, but in more detail.{% endtrans %}</p>

    <p>{% trans %}A JSONP object is returned if a <var>callback</var> parameter is
    supplied (usually by appending "?callback=myfun" or
    similar).{% endtrans %}</p>
  </div>
{% endblock %}
