<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <py:def function="dimensions_list(dimensions)">
    <ul>
      <li py:for="dimension in dimensions">
        <a class="dimension-name" href="${url(controller='dimension',
          action='view', dataset=c.dataset.name,
          dimension=dimension.name)}">
          <strong>${dimension.label or dimension.name}</strong>
          <py:if test="dimension.key">
            <abbr title="Part of unique key"><i class='icon-star'></i></abbr>
          </py:if>
        </a>
      </li>
    </ul>
  </py:def>


</html>

