<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
  <xi:include href="../_util.html" />  

  <py:def function="member_nav(section)">
    <ul class="breadcrumb">
      <li>
        <i class="icon-home"></i>
        <a href="${h.url_for(controller='dataset', action='view', dataset=c.dataset.name)}">
          ${c.dataset.label}</a>
        <span class="divider">/</span>
      </li>
      <li>
        <a href="${h.url_for(controller='dimension', action='view', dataset=c.dataset.name,
                             dimension=c.dimension)}">
          ${c.dataset[c.dimension].label}</a>
        <span class="divider">/</span>
      </li>
      <li class="active">
        ${c.member.label}
      </li>
      <div class="representations">
        <a href="${url(controller='dimension', action='member', dataset=c.dataset.name,
          name=c.member['name'], dimension=c.dimension, format='json')}">
          <img src="${h.static('img/icons/json.png')}" alt="JSON" xml:lang="en" /></a>
      </div>
    </ul>
    <h2 class="page-header">
      ${c.member.label}
    </h2>
    
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <py:for each="view in c.available_views">
          <py:if test="view.name==section">
            <li class="active"><a>${view.label}</a></li>
          </py:if>
          <py:if test="view.name!=section">
            <li><a href="${h.url(controller='dimension', action='member',
                dataset=c.dataset.name, dimension=c.dimension,
                name=c.member.name, _view=view.name)}">
              ${view.label}</a></li>
          </py:if>
        </py:for>
        <li class="${'active' if section == 'search' else ''}">
            <a href="${url(controller='dimension', action='entries',
              dataset=c.dataset.name, dimension=c.dimension, name=c.member.name)}">Search</a></li>
        <py:if test="'opencorporates_uri' in c.member and c.member.opencorporates_uri">
          <li class="">
          <a href="${c.member.opencorporates_uri}" title="${c.member.label} on OpenCorporates"><img src="/static/img/icons/external_link.gif" /> OpenCorporates</a></li>
        </py:if>
        <py:if test="'uri' in c.member and c.member.uri">
          <li class="" py:if="'opencorporates.com' in c.member.uri">
            <a href="${c.member.uri}" title="${c.member.label.strip()} on OpenCorporates">
              <img src="/static/img/icons/external_link.gif" /> OpenCorporates</a>
          </li>
          <li class="" py:if="'publicbodies.org' in c.member.uri">
            <a href="${c.member.uri}" title="${c.member.label.strip()} on PublicBodies.org">
              <img src="/static/img/icons/external_link.gif" /> PublicBodies.org</a>
          </li>
        </py:if>
        ${view_times()}
      </ul>
    </div>
  </py:def>

</html>

