<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <py:def function="nav_class">nav-dataset</py:def>

  <py:def function="page_title">Dimensions in ${c.dataset.label}</py:def>
  
  <div py:def="content">
    <h2 class="page-header">${c.dataset.label}: Dimensions
      <small>Facets of the dataset.</small></h2>
    <div class="row">
      <div class="span16">
        <p>${c.dataset.label} has the following dimensions:</p>
        <ul>
          <li py:for="dimension in c.dimensions">
            <a class="dimension-name" href="${url(controller='dimension',
              action='view', dataset=c.dataset.name,
              dimension=dimension.name)}">
                ${dimension.label or dimension.name}
            </a>
            <div py:if="dimension.description">
              ${h.markdown(dimension.description)}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <xi:include href="../layout.html" />
</html>

