<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <py:def function="nav_class">nav-dataset</py:def>

  <py:def function="page_title">Dimensions in ${c.dataset.get('label')}</py:def>
  
  <div py:def="content">
    <h2>${c.dataset.get('label')}: Dimensions</h2>
    <p>${c.dataset.get('label')} has the following dimensions:</p>
    <ul>
      <li py:for="dimension in c.dimensions">
        <a class="dimension-name" href="${url(controller='dimension',
          action='view', dataset=c.dataset.get('name'), dimension=dimension.get('key'))}">
            ${dimension.get('label')}
        </a>
        <div py:if="dimension.get('description')">
            ${h.markdown(dimension.get('description'))}
        </div>
      </li>
    </ul>
  </div>

  <xi:include href="../layout.html" />
</html>

