<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">
  <xi:include href="_nav.html" />  
  
  <py:def function="nav_class">nav-member</py:def>

  <py:def function="page_title">${c.member['label']}</py:def>

  <py:def function="page_description()">${h.markdown_preview(c.member.get('description'))}</py:def>

  <py:def function="optional_head">
    <!-- templates/dimension/member.html optional_head -->
    <!-- TODO: Load this from the widget itself. -->
    <link py:if="hasattr(c, 'widget')" rel="stylesheet" href="${c.widget.base}/css/${c.widget.name}.css" type="text/css" />
  </py:def>

  <py:def function="scripts">
    <!-- templates/dimension/member.html scripts -->
    <script py:if="hasattr(c, 'widget')" type="text/javascript" src="${c.widget.js}"></script>
    <script py:if="hasattr(c, 'widget')">
        var context = {
            dataset: '${c.dataset.name}',
            siteUrl: '',
            dimension: '${c.dimension}',
            member: '${c.member.name}',
            time: '${c.time}'
            };

        (function ($) {
            new ${c.widget.class_name}($('#widget'), context, ${c.viewjson});
        })(jQuery);
    </script>
    ${share_scripts()}
  </py:def>

  <div py:def="content">
    ${member_nav(c.view.name if c.view else 'search')}

    <div py:if="c.view" class="row">
      <div class="span12"><div id="widget" style="width: auto; height: 400px"/></div>
    </div>

    <div class="row" py:if="c.member.get('description')">
      <div class="span12">
        <h3>Description</h3>
        ${h.markdown(c.member.get('description'))}
      </div>
    </div>

    <div py:if="c.view" class="row">
      <div class="span12">
        <div id="detail" />
      </div>
    </div>

    ${share_body()}
  </div>

  <xi:include href="../layout.html" />
</html>

