<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">
  <xi:include href="_nav.html" />  
  <xi:include href="../view/_widgets.html" />
  
  <py:def function="nav_class">nav-member</py:def>

  <py:def function="page_title">${c.member['label']}</py:def>

  <py:def function="page_description()">${h.markdown_preview(c.member.get('description'))}</py:def>

  <py:def function="optional_head">
    <!-- templates/dimension/member.html optional_head -->
    <!-- TODO: Load this from the widget itself. -->
    <link py:if="hasattr(c, 'widget')" rel="stylesheet" href="${c.widget.base}/css/${c.widget.name}.css" type="text/css" />
  </py:def>

  <py:def function="scripts">
    <!-- templates/dataset/view.html scripts -->
    ${widget_js(c.widget, c.viewjson, c.time, handles=True)}
    ${share_scripts()}
  </py:def>

  <div py:def="content">
    ${member_nav(c.view.name if c.view else 'search')}

    <div py:if="c.view" class="row">
      <div class="span12"><div id="widget" style="width: auto; height: 400px"/></div>
    </div>


    <div class="well widget-context">
      <div class="pull-right">
        <a href="#" class="btn btn-mini" id="widget-embed-link"><i class="icon-share"></i> Embed</a>
        <a href="#" class="btn btn-mini" id="widget-edit-link"><i class="icon-cog"></i> Change</a>
      </div>
      <p>
        <py:if test="c.member.get('description') and len(c.member.get('description'))">
          ${h.markdown(c.member.get('description'))}
        </py:if>
        &nbsp;
      </p>
    </div>

    <div py:if="c.view" class="row">
      <div class="span12">
        <div id="detail" />
      </div>
    </div>

    ${share_body()}
  </div>

  <xi:include href="../layout.html" />
</html>

