<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">
  <xi:include href="../view/_widgets.html" />

  <py:def function="nav_class">nav-dataset</py:def>

  <py:def function="page_title">${c.dimension.label or c.dimension.name}</py:def>
  
  <py:def function="scripts">
    <!-- templates/dimension/view.html scripts -->
    ${widget_js('widget', c.widget, c.widget_state, '', handles=True)}
    ${share_scripts()}
  </py:def>

  <div py:def="content">
    <ul class="breadcrumb">
      <div class="representations">
        <a href="${url(controller='dimension', action='view', dataset=c.dataset.name,
          dimension=c.dimension.name, format='json')}">
          <img src="${h.static('img/icons/json.png')}" alt="JSON" xml:lang="en" /></a>
      </div>
      <li>
        <i class="icon-home"></i>
        <a href="${h.url_for(controller='dataset', action='view', dataset=c.dataset.name)}">
          ${c.dataset.label}</a>
        <span class="divider">/</span>
      </li>
      <li class="active">
        ${c.dimension.label}
      </li>
    </ul>
    <h2 class="page-header">
      ${c.dimension.label or c.dimension.name}
    </h2>

    <div class="row">
      <div class='span12'>
        <div class="well widget-context">
          <div class="pull-right">
            <a href="#" class="btn btn-mini" id="widget-embed-link"><i class="icon-share"></i> Embed</a>
            <a href="#" class="btn btn-mini" id="widget-edit-link"><i class="icon-cog"></i> Change</a>
          </div>
          <p>${c.dimension.description} &nbsp;</p>
        </div>
      </div>
      <div class='span12'>
        <div id="widget" style="width: auto; height: auto"/>
      </div>
    </div>
    ${share_body()}
  </div>

  <xi:include href="../layout.html" />
</html>

