<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <py:def function="nav_class">nav-dataset</py:def>

  <py:def function="page_title">Dimension: ${c.dimension.label or c.dimension.name}</py:def>
  
  <div py:def="content">
    <h2 class="page-header">
      ${c.dataset.label}:
      ${c.dimension.label or c.dimension.name}
    </h2>

    <div class="row">
      <div class="span-one-third">
        <div py:if="c.dimension.description">
          ${h.markdown(c.dimension.description)}
        </div>
        <i>All figures are total financial involvement, not just funds received or spent.</i>
      </div>

      <div class="span-two-thirds">
        <table class="zebra-striped">
          <thead>
            <tr>
              <th>Value</th>
              <th class="num" i18n:msg="currency">Sum (${c.dataset.currency})</th>
            </tr>
          </thead>
          <tbody> 
            <tr py:for="(v, s) in c.page">
              <td py:if="isinstance(v, dict) and v['name']">
                ${h.dimension_link(c.dataset.name, c.dimension.name, v)}
              </td>
              <td py:if="isinstance(v, dict) and not v['name']">
                (Empty)
              </td>
              <td py:if="not isinstance(v, dict)">
                ${v or _('(Empty)')}
              </td>
              <td class="num">${h.format_number_with_commas(s)}</td>
            </tr>
          </tbody>
        </table>
        ${c.page.pager()}
      </div>
    </div>

  </div>

  <xi:include href="../layout.html" />
</html>

