<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <py:def function="editor_nav(section)">
    <ul class="breadcrumb">
      <li>
        <i class="icon-home"></i>
        <a href="${h.url_for(controller='dataset', action='view', dataset=c.dataset.name)}">
          ${c.dataset.label}</a>
        <span class="divider">/</span>
      </li>
      <li class="active">Manage the dataset</li>

      <div class="representations">
        <a href="${url(controller='dataset', action='model', dataset=c.dataset.name, format='json')}"><img src="${h.static('img/icons/json.png')}" alt="JSON" xml:lang="en" /></a>
      </div>
    </ul>
    <h2 class="page-header">
      ${c.dataset.label} 
    </h2>

    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="${'active' if section == 'index' else ''}">
            <a href="${url(controller='editor', action='index', dataset=c.dataset.name)}">Dashboard</a></li>
        <li class="${'active' if section == 'dimensions' else ''}">
            <a href="${url(controller='editor', action='dimensions_edit',
              dataset=c.dataset.name)}">Dimensions &amp; Measures</a></li>
        <li class="${'active' if section == 'views' else ''}">
            <a href="${url(controller='editor', action='views_edit',
              dataset=c.dataset.name)}">Visualizations</a></li>
        <li class="${'active' if section == 'core' else ''}">
            <a href="${url(controller='editor', action='core_edit',
              dataset=c.dataset.name)}">Meta</a></li>
      </ul>
    </div>
  </py:def>


</html>

