<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <py:def function="editor_nav(section)">
    <h2 class="page-header">
      <div class="representations">
        <a href="${url(controller='dataset', action='view', dataset=c.dataset.name, format='json')}"><img src="${h.static('img/icons/json.png')}" alt="JSON" /></a>
        <a href="${url(controller='dataset', action='view', dataset=c.dataset.name, format='csv')}"><img src="${h.static('img/icons/csv.png')}" alt="CSV" /></a>
      </div>
      ${c.dataset.label} 
      <small>Manage the dataset</small>
    </h2>
    
    <div class="alert-message block-message info">
      <p>
      <strong>Congratulations, your dataset is now created.</strong> Next, you'll need
      to link to a source file that contains the data (or a sample for testing
      if your dataset is very large!). The data must be in the CSV format.
      </p>
      <ul>
        <li>Learn about <a href="#">how to export CSV</a> from various common
          applications.</li>
        <li>Help on <a href="#">common data wrangling tasks</a> needed to clean
          source data.</li>
      </ul>

      <div class="alert-actions">
        <a class="btn small" href="#">Add a source</a>
      </div>
    </div>

    <ul class="tabs">
      <li class="${'active' if section == 'index' else ''}">
          <a href="${url(controller='editor', action='index', dataset=c.dataset.name)}">Dashboard</a></li>
      <li class="${'active' if section == 'core' else ''}">
          <a href="${url(controller='editor', action='core_edit', dataset=c.dataset.name)}">Core Properties</a></li>
      <li><a href="#">Data Dimensions</a></li>
      <li><a href="#">Visualization Views</a></li>
    </ul>
  </py:def>


</html>

