<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <xi:include href="_nav.html" />

  <py:def function="nav_class">nav-editor</py:def>

  <py:def function="page_title">${c.dataset.label or c.dataset.name}</py:def>
  
  <py:def function="optional_head">
    <style>
      #frame {
        display: none;
        position: relative;
        height: 305px;
      }

      #column-names .used {
        text-decoration: line-through;
        background-color: #ffffff;
      }

      #column-names-container {
        text-align: right;
      }

      #column-names-container h3 {
        padding: 5px;
      }
      
      #column-names-container li {
        list-style-type: none;
      }

      .rm_dimension {
        float: right;
      }

      #add-dimension .well {
        overflow-y: scroll;
        max-height: 350px;

      }

      #add-dimension li.used {
        color: #ddd;
        text-decoration:line-through;
      }
    </style>

    <script>
      var validDimensionType = function(ty) {
        var validTypes = [ 'attribute', 'value', 'date', 'measure' ];
        return ($$.inArray(ty, validTypes) !== -1);
      };
    </script>
  </py:def>

  <div py:def="content">
    ${editor_nav('dimensions')}
    
    <div id="m1">
      <div class="dimensions_widget">
        <div class="row">
            <div class="span3">
              <p>
                <a class='btn btn-primary' data-backdrop="true"
                                data-toggle="modal"
                                data-keyboard="true" href='#add-dimension'>
                  <i class="icon-plus icon-white"></i>
                  Add Dimension</a>
              </p>
              <p class="help-block">
                Make sure your dimensions import all source data columns.<br/><br/>
              </p>

              <p>
                <a class='btn btn-primary' data-backdrop="true"
                                data-toggle="modal" href='#check-uniques'>Set Unique Dimensions</a>
              </p>
              <p class="help-block">
                Identify the dimensions that help to identify each entry.<br/><br/>
              </p>

              <h3>Exisiting Dimensions</h3>
              <div class="well">
                <ul id="names-hook" class="dimension-names nav nav-list">
                </ul>
              </div>


              <!-- Unique dimensions selector window. --> 
              <div id="check-uniques" class="modal hide fade">
                <div class="modal-header">
                  <h3>Specify which dimensions identify an entry uniquely</h3>
                </div>
                <form action='#'>
                  <div class="modal-body">
                    <ul id="uniques" style="list-style: none;">
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <a class='btn set_uniques btn-success'>Update</a>
                  </div>
                </form>
              </div>

              <!-- Add dimension window. -->
              <div id="add-dimension" class="modal big-modal hide fade">
                <div class="modal-header">
                  <h3>Add new dimension</h3>
                </div>
                <form action='#' class="form-horizontal">
                  <div class="modal-body">
                    <div class="row">
                    <div class="span6">
                        <div class="control-group">
                          <label for="new-dimension-name">Name</label>
                          <div class="controls">
                            <input type='text' name='new-dimension-name' value='' />
                            <p class="help-block">
                              The name you choose should only contain letters, numbers and dashes (i.e., no spaces)
                            </p>
                            <p i18n:msg="" class="help-block">
                              Where the dimension represents the ultimate source or destination of the funds, 
                              call it <code>from</code> or <code>to</code>.
                            </p>
                          </div>
                        </div>
                        <div class="control-group">
                          <label for="new-dimension-type">Type</label>
                          <div class="controls">
                            <label class="checkbox">
                              <input id='dimension_type' type="radio" name="new-dimension-type" value="compound" />
                              Dimension
                              <p class="help-block">
                                A defined set, like suppliers or classifications, with 
                                multiple attributes (e.g. supplier name and VAT number).
                              </p>
                            </label>
                            <label class="checkbox">
                              <input id='dimension_type' type="radio" name="new-dimension-type" value="attribute" />
                              Attribute
                              <p class="help-block">
                                A simple value, e.g. descriptions or transaction IDs.
                              </p>
                            </label>
                            <label class="checkbox">
                              <input id='dimension_type' type="radio" name="new-dimension-type" value="date" />
                              Date
                              <p class="help-block">
                                Temporal value, e.g. start of project, date of disbursement.
                              </p>
                            </label>
                            <label class="checkbox">
                              <input id='dimension_type' type="radio" name="new-dimension-type" value="measure" />
                              Measure
                              <p class="help-block">
                                Monetary information, e.g. amount disbursed or allocated.
                              </p>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="span3">
                      <h3>Unmapped source data columns</h3>
                      <div class="well">
                          <ul id="new-dimension-columns"></ul>
                      </div>
                    </div>
                    </div>
                      </div>
                      <div class="modal-footer">
                        <a class='btn cancel_add_dimension btn-danger'>Cancel</a>
                        <a class='btn add_dimension btn-success'>Add</a>
                      </div>
                    </form>
                  </div>

                </div>

      <div class="span9">
        <div py:if="c.saved"
          class="alert block-message alert-success"  i18n:msg="">
          <strong>Your model was saved.</strong> You can now try to load a 
          sample of the data by returning back to the dashboard.
          <div class="alert-actions">
            <a class="btn btn-small" href="${h.url(controller='editor',
              action='index', dataset=c.dataset.name)}">Visit dashboard</a>
          </div>
        </div>
                                <py:if test="len(c.errors.keys())">
                  <div class="alert block-message alert-error">
                                        <p>
                                          The dimensions mapping could not be saved as it 
                                          contains some errors:
                                        </p>
                                        <ul py:for="field, error in c.errors.items()">
                      <li><strong>${field}:</strong> ${error}</li>
                                        </ul>
                  </div>
                                </py:if>
                 
          <div class="forms">
          <form action="#" id="editor-form">
          <div class="modeleditor tab-content dimensions">
                        <div class='tab-pane active' id='help'>
                          <div>
                                  <!-- Dimension mapping -->
                                        <h2>Dimension mapping</h2>
                                        <p i18n:msg="">
                                          To create a model for your dataset,
                                          you need to translate the columns in 
                                          the data file to "dimensions", the logical
                                          divisions of the dataset. A dimension
                                          can be any property of a line item or 
                                          transaction that should be presented
                                          within OpenSpending.
                                        </p>
                                        <p>
                                          There are four core dimensions, <code>amount</code>,
                                          <code>time</code> &mdash; which are
                                          mandatory &mdash; as well as
                                          <code>from</code> for the spender,
                                          and <code>to</code> for the
                                          recipient of a specific transaction
                                          &mdash; both of those must be
                                          dimensions if they exist.
                                        </p>
                                        <p>
                                          Beyond that, you can add your own
                                          dimensions to describe aspects such
                                          as classification schemes,
                                          descriptions, transaction IDs and any
                                          other details present in the source
                                          data.
                                        </p>
                                        <h3>What do I do here?</h3>
                                        <p>
                                          First off, make sure to set up the
                                          model to conform to these basic
                                          requirements:
                                        </p>
                                        <ul>
                                          <li>Create <code>amount</code> with the core 
                                          financial measure of the dataset and 
                                          <code>time</code> to represent the most 
                                          representative temporal
                                          dimension.</li>
                                          <li>If your data is transactional and 
                                          contains the name of a department or 
                                          body spending the funds, make sure to 
                                          include a <code>from</code> dimension.</li>
                                          <li>If the data mentions a recipient,
                                          such as a supplier, set
                                          <code>to</code> as another dimension.</li>
                                          <li>Set a unique key combination so
                                          that the values within that
                                          combination are different between all 
                                          entries in the dataset. This can
                                          later be used for updating the
                                          dataset.</li>
                                        </ul>
                                        <p>
                                          After you've done these basic things,
                                          make sure to also create dimensions
                                          to cover any other aspects present in 
                                          the source data. You can group
                                          related columns into a single
                                          dimension, for example if each row 
                                          mentions both a company's name and
                                          its VAT number.

                                        </p>
                                        <ul>
                                          <li><a href="${h.url(controller='content',   
                                            action='view', section='help',
                                            path='api-olap.html')}">Background: How does OpenSpending store data?</a></li>
                                        </ul>
                          </div> <!-- /.forms -->

                          <!-- Dimension column field template -->
                          <script id='tpl_dimension_field' type='text/x-jquery-tmpl'>
                                <tr data-field-name='$${fieldName}'>
                                  <td>$${fieldName}</td>
                                  <td><select class='column' name='$${prefix(fieldName)}[column]'></select></td>
                                  <td>
                                        <select name='$${prefix(fieldName)}[datatype]'>
                                          <option value='string'>string</option>
                                          <option value='float'>float</option>
                                          <option value='id'>id</option>
                                          <option value='date'>date</option>
                                          <option value='url'>url</option>
                                        </select>
                                  </td>
                                  <td>
                                    <input type='short' class='span3' name='$${prefix(fieldName)}[default_value]' placeholder="Default Value" />
                                  </td>
                                  <td>
                                        {{if required(fieldName) != true}}
                                        <a href='#' class='field_rm'><i class="icon-remove"></i></a>
                                        {{/if}}
                                  </td>
                                </tr>
                          </script>

                          <!-- Dimension template -->
                          <script id='tpl_dimension' type='text/x-jquery-tmpl'>
                            <div class="form-horizontal">
                                <input type='hidden' name='$${name}[type]' value='$${data.type}' />
                                {{if meta.fixedDataType}}
                                <input type='hidden' name='$${name}[datatype]' value='$${data.datatype}' />
                                {{/if}}
                                <legend>$${name} ($${data.type})</legend>
                                {{if meta.helpText}}<p>$${meta.helpText}</p>{{/if}}

                                <div class="control-group">
                                  <label class="control-label">Label:</label>
                                  <div class="controls">
                                    <input type='text' name='$${name}[label]' value='$${data.label}' />
                                    <p class="help-block">
                                      A human-readable title for this
                                      dimension.
                                    </p>
                                  </div>
                                </div>
                                <div class="control-group">
                                  <div class="controls">
                                    <label class="checkbox">
                                      <input type='checkbox' name='$${name}[key]' value='true' />
                                      Include in unique key
                                    </label>
                                    <p class="help-block">
                                      Make this dimension part of the set of
                                      uniquely identifying values for each
                                      column.
                                    </p>
                                  </div>
                                </div>

                                {{if validDimensionType(data.type)}}
                                <div class="control-group">
                                  <label class="control-label">Column:</label>
                                  <div class="controls">
                                    <select class='column' name='$${name}[column]'></select>
                                    <p class="help-block">
                                      Source column in the source CSV file.
                                    </p>
                                  </div>
                                </div>
                                <hr/>
                                <div class="control-group">
                                  <label class="control-label">Default value:</label>
                                  <div class="controls">
                                    <input class='short' name='$${name}[default_value]' />
                                    <p class="help-block">
                                      Empty cells will be padded with this
                                      value.
                                    </p>
                                  </div>
                                </div>
                                {{if !meta.fixedDataType}}
                                  <div class="control-group">
                                    <label class="control-label">Data type:</label>
                                    <div class="controls">
                                      <select name='$${name}[datatype]'>
                                        <option value='string'>string</option>
                                        <option value='float'>float</option>
                                        <option value='id'>id</option>
                                        <option value='date'>date</option>
                                        <option value='url'>url</option>
                                      </select>
                                    </div>
                                  </div>
                                {{/if}}
                                {{/if}}
                                <div class="control-group">
                                  <label class="control-label">Description:</label>
                                  <div class="controls">
                                    <textarea class='short' name='$${name}[description]'>$${data.description}</textarea>
                                  </div>
                                </div>
                                <div class="control-group">
                                  <div class="controls">
                                    <label class="checkbox">
                                      <input type='checkbox' name='$${name}[facet]' value='true' />
                                      Use as facet in entries browser
                                    </label>
                                    <p class="help-block">
                                      Select a few dimensions which are useful
                                      to slice the dataset by.
                                    </p>
                                  </div>
                                </div>
                              </div>
                                {{if !(validDimensionType(data.type))}}
                                <div><table class='table table-condensed table-striped fields'>
                                  <thead>
                                        <tr>
                                          <th>Field</th>
                                          <th>Column</th>
                                          <th>Type</th>
                                          <th>Default</th>
                                          <th>&nbsp;</th>
                                        </tr>
                                  </thead>
                                  <tbody>
                                        {{each(n, f) data.attributes}}
                                        {{tmpl({'fieldName': n, 'prefix': formFieldPrefix, 'required': formFieldRequired}) '#tpl_dimension_field'}}
                                        {{/each}}
                                  </tbody>
                                </table></div>
                                <a class='btn add_field' href='#'>Add a field</a>
                                {{/if}}
                          </script>


                        </div> <!-- /.modeleditor -->

          </div>
        </form>
      </div>

      </div>
    </div>
            <form  class="basic" id="form" action="${url(controller='editor',
                                action='dimensions_update', dataset=c.dataset.name)}" 
                                        method="POST">

                                        <textarea id="mapping" name="mapping" style="display: none">${c.fill['mapping']}</textarea>
                                    <div class="form-actions">
                                          <input id="save" value="Save Dimensions" class="btn btn-success" type="submit" />
                                          <input type="button" class='btn btn-danger rm_all_dimensions' value="Delete All Dimensions" />
                                    </div>
                  </form>
          </div></div>


  </div>

  <py:def function="scripts">
    ${script_tag('lib/vendor/jquery.tmpl')}
    ${script_tag('app/dimensions-editor/main')}
    ${script_tag('app/dimensions-editor/modelEditorInit')}

    <script>
      jQuery(function($) {
        var config = {
          dataset: "${c.dataset.name}",
          source: "${c.source.id}",
          editorSelector: "#m1",
          fallbackSelector: '#mapping',
          namesHook: '#names-hook'
          };

        $(document).ready(function () {
          $('.dimensions_widget').show();
          initModelEditor($, config);
        });
      });
    </script>
  </py:def>

  <xi:include href="../layout.html" />
</html>

