<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <xi:include href="_nav.html" />
  <xi:include href="../source/_new_form.html" />  
  <xi:include href="../source/_list.html" />  

  <py:def function="nav_class">nav-editor</py:def>

  <py:def function="page_title">${c.dataset.label or c.dataset.name}</py:def>

  <div py:def="content">
    ${editor_nav('index')}

    <div class="row">
      <div class="span8">
        <py:choose test="">
          <div py:when="not c.has_sources" 
            class="alert block-message alert-info">
            <p i18n:msg="">
            <strong>Congratulations, your dataset is now created.</strong> Next, you'll need
            to link to a source file that contains the data (or a sample for testing
            if your dataset is very large!). The data must be in the CSV format.
            </p>
            <ul>
              <li i18n:msg="">Learn about <a href="#">how to export CSV</a> from various common
                applications.</li>
              <li i18n:msg="">Help on <a href="#">common data wrangling tasks</a> needed to clean
                source data.</li>
            </ul>

            <div class="alert-actions">
              <a class="btn small" data-backdrop="true"
                data-controls-modal="new-source"
                data-keyboard="true"
                href="#">Add a source</a>
            </div>
          </div>

          <div py:when="c.source and not c.source.analysis"
            class="alert block-message alert-info"  i18n:msg="">
            <strong>Let me see...</strong> The data is now being checked to
            see if it can be imported. This should not take very long.
            <div class="alert-actions">
              <a class="btn small" href="?">Refresh</a>
            </div>
          </div>

          <div py:when="c.source and 'columns' in c.source.analysis and not c.dataset.mapping"
            class="alert block-message alert-success"  i18n:msg="">
            <strong>Good stuff!</strong> Your data is now ready. Next,
            create a <strong>data model</strong> to structure the dataset.
            <div class="alert-actions">
              <a class="btn btn-small" href="${h.url(controller='editor',
                action='dimensions_edit', dataset=c.dataset.name)}">Create
                a model</a>
            </div>
          </div>
        </py:choose>
        <div py:if="c.has_sources">
          <h3>Source files</h3>
          ${sources_list(c.dataset)}
          <a class="btn btn-success small" data-backdrop="true" data-controls-modal="new-source" href="#">Add a source</a>
        </div>
      </div>
      <div class="span4">
        <h3>Summary</h3>
        <ul>
          <li>Entries loaded: ${c.entries_count}</li>
          <li>Searchable: ${c.index_count} (${c.index_percentage/10.0}%)</li>
        </ul>
        <h3>Dataset Actions</h3>
        <py:if test="c.entries_count">
          <form method="POST" action="${h.url(controller='editor',
            action='drop', dataset=c.dataset.name)}">
            <input type="submit" class="btn btn-danger" 
              value="Delete loaded data" />
            <p class="help-block">Delete all loaded data to fix 
              errors and re-edit the data dimensions.</p>
          </form>
        </py:if>
        <py:if test="not c.entries_count">
          <a href="#" class="btn btn-danger disabled">Delete loaded data</a>
          <p class="help-block">You can remove the loaded data
            at any time and start over.</p>
          <br/>
        </py:if>

        <py:if test="c.dataset.private and c.entries_count">
          <form method="POST" action="${h.url(controller='editor',
            action='publish', dataset=c.dataset.name)}">
            <input type="submit" class="btn btn-success" value="Make public" />
            <p class="help-block">After you've performed some QA,
              let the world see this dataset.</p>
          </form>
        </py:if>
        <py:if test="c.dataset.private and not c.entries_count">
            <a class="btn btn-success disabled">Make public</a>
            <p class="help-block">After you've performed some QA,
              let the world see this dataset.</p>
        </py:if>
        <py:if test="not c.dataset.private">
          <form method="POST" action="${h.url(controller='editor',
            action='retract', dataset=c.dataset.name)}">
            <input type="submit" class="btn btn-danger" value="Retract" />
            <p class="help-block">If you have noted serious quality
              issues or legal issues, you can un-publish this dataset.</p>
          </form>
        </py:if>

        <form method="POST" action="${h.url(controller='editor',
          action='delete', dataset=c.dataset.name)}">
          <input type="submit" class="btn btn-danger" value="Delete entire dataset" />
          <p class="help-block" i18n:comment="Warning message on deletion">This
          action cannot be undone.</p>
        </form>

        <br/>
      </div>


      <!-- Create source modal -->
      <div id="new-source" class="modal hide fade"
        ckan-uri="${c.dataset.ckan_uri}">
        <form class="basic" action="${h.url(controller='source', action='create',
          dataset=c.dataset.name)}" method="POST">
          <div class="modal-header">
            <h3>Create a new data source</h3>
          </div>
          <div class="modal-body">
            ${new_form()}
          </div>
          <div class="modal-footer">
             <input value="Create" class="btn btn-success" type="submit" />
           </div>
        </form>
      </div>
    </div>
    
    <py:def function="scripts">
      ${script_tag('vendor/bootstrap-modal')}
      <script>
        /*jQuery(document).ready(function($) {
          $('#  foo new-source').modal(options)
        });*/
      </script>
    </py:def>

  </div>



  <xi:include href="../layout.html" />
</html>

