<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="nav_class">nav-editor</py:def>

  <py:def function="page_title">${c.dataset.label or c.dataset.name}</py:def>

  <div py:def="content">
    <h2 class="page-header">
      <div class="representations">
        <a href="${url(controller='dataset', action='view', dataset=c.dataset.name, format='json')}"><img src="${h.static('img/icons/json.png')}" alt="JSON" /></a>
        <a href="${url(controller='dataset', action='view', dataset=c.dataset.name, format='csv')}"><img src="${h.static('img/icons/csv.png')}" alt="CSV" /></a>
      </div>
      
      ${c.dataset.label} 
      <small>Manage the dataset</small>
    </h2>
  </div>

  <xi:include href="../layout.html" />
</html>

