{% extends "base.html" %}
{% from "editor/_nav.html" import editor_nav as editor_nav %}

{% block page_title %}{{c.dataset.label or c.dataset.name}}{% endblock %}

{% block optional_head %}
    {{h.style_tag('lib/vendor/chosen/chosen')}}
{% endblock %}

{% block scripts %}
    {{h.script_tag('lib/vendor/chosen/chosen.jquery.min')}}
    <script>
      jQuery(function($) {
        $(".chzn-select").chosen();
      });
    </script>
{% endblock %}


{% block content %}
    <!-- templates/editor/core.html -->
    {{editor_nav(h, c, 'core')}}
    
    <div class="row">
      <div class="offset2 span10">
        {% formfill form_fill with form_errors -%}
        <form class="basic form-horizontal" action="{{ h.url_for(controller='editor', action='core_update', dataset=c.dataset.name) }}" method="POST">
          <input name="name" value="{{ c.dataset.name }}" type="hidden" />
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="label">Title</label>
              <div class="controls">
                <input class="input-xlarge span4" name="label" placeholder="My Dataset" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="territories">Category</label>
              <div class="controls">
                <select name="category" class="chzn-select span4">
                  {% for code,name in c.categories %}
                  <option value="{{ code }}">{{ name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="currency">Currency</label>
              <div class="controls">
                <select name="currency" class="chzn-select span4">
                  <optgroup label="Commonly used currencies">
                    {% for code,name in c.key_currencies %}
                    <option value="{{ code }}">{{ name }} ({{ code }})</option>
                    {% endfor %}
                  </optgroup>
                  <optgroup label="All currencies">
                    {% for code,name in c.all_currencies -%}
                    <option value="{{ code }}">{{ name }} ({{ code }})</option>
                    {% endfor %}
                  </optgroup>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="default_time">Default year</label>
              <div class="controls">
                <select name="default_time" class="chzn-select span4">
                  {% for time in c.available_times %}
                  <option value="{{ time }}">{{ time }}</option>
                  {% else %}
                  <option value="">(No data is loaded)</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="territories">Countries</label>
              <div class="controls">
                <select name="territories" multiple="multiple" class="chzn-select span4">
                  {% for code,name in c.territories -%}
                  <option value="{{ code }}">{{ name }} ({{ code }})</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="languages">Languages</label>
              <div class="controls">
                <select name="languages" multiple="multiple" class="chzn-select span4">
                  {% for code,name in c.languages -%}
                  <option value="{{ code }}">{{ name }} ({{ code }})</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="description">Description</label>
              <div class="controls">
                <textarea class="input-xxlarge" rows="7" name="description"></textarea>
              </div>
            </div>
          </fieldset>
          <div class="form-actions">
            <input value="Update" class="btn btn-success" type="submit" />
          </div>
        </form>
        {%- endformfill %}
      </div>
    </div>

{% endblock %}
