{% extends "base.html" %}
{% from "editor/_nav.html" import editor_nav as editor_nav %}

{% block page_title %}{{c.dataset.label or c.dataset.name}}{% endblock %}

{% block optional_head %}
<style>
  #frame {
    display: none;
    position: relative;
    height: 305px;
  }
</style>
{% endblock %}

{% block scripts %}
{{ h.script_tag('lib/vendor/ace/ace') }}
{{ h.script_tag('lib/vendor/ace/mode-json') }}
{{ h.script_tag('lib/vendor/ace/theme-monokai') }}
<script>
  jQuery(document).ready(function($) {
    $("#fallback").hide();
    $("#frame").show();
    var editor = ace.edit("views");
    var JSONMode = require("ace/mode/json").Mode;
    editor.getSession().setMode(new JSONMode());
    editor.setTheme("ace/theme/monokai");
    editor.renderer.setShowPrintMargin(false);
    $("#form").submit(function(e) {
      var value = editor.getSession().getValue();
      $("#fallback").val(value);
    });
  });
</script>
<style>
  .ace-monokai .ace_gutter {
    background-color: whiteSmoke;
  }
</style>
{% endblock %}

{% block content %}
<!-- templates/editor/views.html -->
{{editor_nav(h, c, 'views')}}

<div class="row">
  <div class="span4">
    <div class="alert alert-block" i18n:msg="">
      <strong>Here be dragons.</strong> The visualizations editor does 
      not have a graphical interface yet. If you still want to use it, 
      please check out the 
      <a href="http://openspending.readthedocs.org/en/latest/model/design.html#views-and-pre-defined-visualizations">documentation</a>
      for the 'views' system.
    </div>
    
    <h3>Available Dimensions</h3>
    <ul class="">{% for dimension in c.dataset.dimensions %}
      <li>
        <strong>{{ dimension.name }}</strong>: {{ dimension.label }}
        {% if dimension.has_attribute('attributes') %}
        <ul>{% for attribute in dimension.attributes %}
          <li><strong>{{ attribute.name }}</strong></li>
        {% endfor %}</ul>
        {% endif %}
      </li>
    {% endfor %}</ul>
  </div>
  <div class="span8">
    {% formfill form_fill%}
    <form class="basic" id="form"
          action="{{ h.url_for(controller='editor',
                  action='views_update', dataset=c.dataset.name) }}"
          method="POST">
      <fieldset>
        {% if c.errors|length %}
        <div class="alert block-message alert-error">
          <p>
            The views could not be saved as they contain some 
            errors:
          </p>
          <ul>{% for field, error in c.errors.items() %}
            <li><strong>{{ field }}:</strong> {{ error }}</li>
          {% endfor %}</ul>
        </div>
        {% endif %}
        
        <textarea id="fallback" class="xxlarge" rows="20"
              name="views">{{ c.fill['views'] }}</textarea>
        <div id="frame">
          <div id="views" style="height: 300px; width: 620px">{{ c.fill['views']}}</div>
        </div>
      </fieldset>
      <div class="form-actions">
        <input id="save" value="Update" class="btn btn-success" type="submit" />
      </div>
    </form>
    {% endformfill %}
  </div>
</div>
{% endblock %}
