{% extends "base.html" %}

{% block page_title %}Welcome{% endblock %}

{% block scripts %}
  <scripts>
    {{h.script_tag('lib/vendor/raphael-min')}}
    {{h.script_tag('lib/vendor/raphael-min')}}
    {{h.script_tag('lib/vendor/kartograph/kartograph.min')}}
    {{h.script_tag('lib/vendor/chroma.pack.min')}}
    {{h.script_tag('app/spending-map/load')}}
  </scripts>
{% endblock %}

{% block content %}
  <div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div id="fp-wrap" class="span12">
		  <div id="fp-map">

		  </div>
		  <div id="fp-blurb">
        <span id="fp-claim">{% trans %}Mapping the money.{% endtrans %}</span>
        <p>{% trans %}Our aim is to track every government financial transaction
        across the world and present it in useful and engaging forms for everyone
        from a school-child to a data geek.{% endtrans %}</p>
		  </div>
	  </div>
	</div>

  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="span8">
      <form action="{{h.url(controller='entry', action='search')}}"
            method="GET" class="well" id="fp-search">
        <input name="q" class="span7" placeholder="{% trans entry_count=h.format_number_with_commas(c.num_entries), dataset_count=c.datasets.count() %} Search {{ entry_count }} government transactions in {{ dataset_count }} datasets...{% endtrans %}" />
        <input type="submit" class="btn" value="Search" />
      </form>
      {{h.literal(c.blog.content)}}
    </div>
    <div class="span4">
      <ul class="nav nav-list">
        <li class="nav-header">{% trans %}Getting started{% endtrans %}</li>
        <li><a href="/help/index.html">{% trans %}What can I do here?{% endtrans %}</a></li>
        <li><a href="/about/faq.html">{% trans %}FAQ{% endtrans %}</a></li>
        <li><a href="/datasets">{% trans %}Browse datasets{% endtrans %}</a></li>


        <li class="nav-header">{% trans %}The project{% endtrans %}</li>
        <li><a href="/blog/index.html">{% trans %}Spending Blog{% endtrans %}</a></li>
        <li><a href="/about/portfolio.html">{% trans %}Projects Portfolio{% endtrans %}</a></li>
        <li><a href="http://lists.okfn.org/mailman/listinfo/openspending">{% trans %}Mailing List{% endtrans %}</a></li>
        <li><a href="/about/contribute.html">{% trans %}Contribute{% endtrans %}</a></li>

      </ul>

      <div class="social-links" style="padding-left: 1em;">
        <a href="http://twitter.com/openspending"><img src="//d8r2br52tx8wq.cloudfront.net/branding/images/grey_twitter_icon.png" /></a>
        <a href="/blog/atom.xml"><img src="//d8r2br52tx8wq.cloudfront.net/branding/images/grey_feed_icon.png" /></a>
      </div>

      <div class="caption">
        <h3>{% trans %}Join our discussion list!{% endtrans %}</h3>
        <form action="http://lists.okfn.org/mailman/subscribe/openspending"
          method="POST" class="form-inline">
          <input type="text" class="input-medium" name="email" placeholder="{% trans %}Email{% endtrans %}" />
          <button type="submit" class="btn">{% trans %}Sign up{% endtrans %}</button>
        </form>
      </div>

    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>

{% endblock %}
