{% extends "base.html" %}

{% block page_title %}Welcome{% endblock %}

{% block scripts %}
  <scripts>
    {{h.script_tag('lib/vendor/raphael-min')}}
    {{h.script_tag('lib/vendor/raphael-min')}}
    {{h.script_tag('lib/vendor/kartograph/kartograph.min')}}
    {{h.script_tag('lib/vendor/chroma.pack.min')}}
    {{h.script_tag('app/spending-map/load')}}
  </scripts>
{% endblock %}

{% block content %}
  <div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div id="fp-wrap" class="span12">
	<div id="fp-map"></div>
	<div id="fp-blurb">
          <span id="fp-claim">{% trans %}Mapping the money.{% endtrans %}</span>
          <p>{% trans %}Our aim is to track every government financial transaction across the world and present it in useful and engaging forms for everyone from a school-child to a data geek.{% endtrans %}</p>
	</div>
      </div>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
      <div class="span8 frontpage">
        <div class="well">
          <div class="row-fluid">
            <div class="span4">
              <a title="00-visualize by okfn, on Flickr" href="http://openspending.org/datasets/new"><img src="//farm4.staticflickr.com/3669/9575045401_5a752545b0_n.jpg" class="img-rounded" alt="00-visualize"></a>
            </div>
            <div class="span8">
              <h2>Upload and visualize data</h2>
              <p>Upload any kind of financial data to OpenSpending and explore it with our built-in interactive visualizations. Users publish <a href="http://openspending.org/budgetmarocain">budgets</a>, <a href="http://openspending.org/marches-publics-senegal/views/liste-des-attributaires">procurements</a>, <a href="http://openspending.org/ukgov-25k-spending">spending data</a> and even <a href="http://openspending.org/senadofederal/entries">public employee salaries</a>.</p>

              <p>Use our <a href="http://www.pbs.org/idealab/2013/03/how-to-embed-open-spending-visualizations-in-your-own-website078">widgets</a> to embed your visualization on your own website.</p>

              <p><a href="http://openspending.org/datasets/new" class="btn btn-success btn-large" title="Create a dataset">Upload a dataset</a></p>
            </div>
          </div>
        </div>
        <div class="well">
          <div class="row-fluid">
            <div class="span4">
              <a title="01-explore by okfn, on Flickr" href="http://openspending.org/search"><img src="//farm4.staticflickr.com/3670/9575044337_71d0e520ae_n.jpg" class="img-rounded" alt="01-explore"></a>
            </div>
            <div class="span8">
              <h2>Explore the database</h2>
              
              <p>OpenSpending holds nearly 16 mio. transactions from more than 300 datasets across more than 70 countries.</p>
              
              <p>Browse the <a href="http://openspending.org/datasets">list of datasets</a> and learn about public finances from around the world, or browse <a href="http://apps.openspending.org/maps/">our map of cities</a> on OpenSpending.</p>
              
              <p><a href="http://openspending.org/search" class="btn btn-success btn-large" title="Search the datasets">Search transactions</a> <small>or <a href="http://openspending.org/datasets/" title="List of datasets">look at the datasets</a></small></p>
            </div>
          </div>
        </div>
        <div class="well">
          <div class="row-fluid">
            <div class="span4">
              <a title="02-extend by okfn, on Flickr" href="http://community.openspending.org/help/api/"><img src="//farm6.staticflickr.com/5549/9577836924_378752d5f3_n.jpg" class="img-rounded" alt="02-extend"></a>
            </div>
            <div class="span8">
              <h2>Create your own dataviz with our API</h2>
              
              <p>Create your own visualizations with the <a href="http://community.openspending.org/help/api/aggregate/">OpenSpending API</a> using libraries like <a href="http://community.openspending.org/2013/08/20/okfb-inesc/">D3.js</a>, jit and Raphael.</p>
              
              <p>You can even create a satellite site while still using OpenSpending as a backend.</p>
              
              <p><a href="http://community.openspending.org/help/api/" class="btn btn-success btn-large" title="API documentation">Look at the API</a></p>
            </div>
          </div>
        </div>
        <div class="well">
          <div class="row-fluid">
            <div class="span4">
              <a title="03-community by okfn, on Flickr" href="http://community.openspending.org/get-involved/community/"><img src="//farm6.staticflickr.com/5475/9575044189_f4de292c78_n.jpg" class="img-rounded" alt="03-community"></a>
            </div>
            <div class="span8">
              <h2>Join the community!</h2>
              <p>OpenSpending is a community run project and all material is open - open-source code and open data.</p>
              
              <p>Get involved in loading data, developing the technology, doing analysis or writing news stories!</p>
              
              <p><a href="http://community.openspending.org/contribute/" class="btn btn-success btn-large" title="Community introduction">Join the spending community</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="span4">
        <ul class="nav nav-list">
          <li class="nav-header">{% trans %}Getting started{% endtrans %}</li>
          <li><a href="http://community.openspending.org/help/">{% trans %}What can I do here?{% endtrans %}</a></li>
          <li><a href="http://community.openspending.org/about/faq/">{% trans %}FAQ{% endtrans %}</a></li>
          <li><a href="{{ h.url_for(controller='dataset', action='index') }}">{% trans %}Browse datasets{% endtrans %}</a></li>

          <li class="nav-header">{% trans %}The project{% endtrans %}</li>
          <li><a href="http://community.openspending.org/blog/">{% trans %}Spending Blog{% endtrans %}</a></li>
          <li><a href="http://community.openspending.org/about/exemplars/">{% trans %}Projects Portfolio{% endtrans %}</a></li>
          <li><a href="http://lists.okfn.org/mailman/listinfo/openspending">{% trans %}Mailing List{% endtrans %}</a></li>
          <li><a href="http://community.openspending.org/contribute/">{% trans %}Contribute{% endtrans %}</a></li>
        </ul>

        <div class="social-links" style="padding-left: 1em;">
          <a href="http://twitter.com/openspending"><img src="//d8r2br52tx8wq.cloudfront.net/branding/images/grey_twitter_icon.png" /></a>
          <a href="http://feeds.feedburner.com/openspending"><img src="//d8r2br52tx8wq.cloudfront.net/branding/images/grey_feed_icon.png" /></a>
        </div>

        <div class="caption">
          <h3>{% trans %}Join our discussion list!{% endtrans %}</h3>
          
          <form action="http://lists.okfn.org/mailman/subscribe/openspending" method="POST" class="form-inline">
            <input type="text" class="input-medium" name="email" placeholder="{% trans %}Email{% endtrans %}" />
            <button type="submit" class="btn">{% trans %}Sign up{% endtrans %}</button>
          </form>
        </div>
        <div class="caption">
          <h3>{% trans %}Join our developer list!{% endtrans %}</h3>
          
          <form action="http://lists.okfn.org/mailman/subscribe/openspending-dev" method="POST" class="form-inline">
            <input type="text" class="input-medium" name="email" placeholder="{% trans %}Email{% endtrans %}" />
            <button type="submit" class="btn">{% trans %}Sign up{% endtrans %}</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">&nbsp;</div>
  </div>
{% endblock %}
