{% extends "base.html" %}

{% block page_title %}Welcome{% endblock %}

{% block scripts %}
  <scripts>
    {{h.script_tag('lib/vendor/raphael-min')}}
    {{h.script_tag('lib/vendor/raphael-min')}}
    {{h.script_tag('lib/vendor/kartograph/kartograph.min')}}
    {{h.script_tag('lib/vendor/chroma.pack.min')}}
    {{h.script_tag('app/spending-map/load')}}
  </scripts>

  <script type="text/javascript">
    $('#fp-maps #fp-map-toggler .btn-group .btn').click(function() {
        $($(this).attr('data-target'))
            .removeClass('hide')
            .siblings('.spending-map').addClass('hide');
    });
  </script>
{% endblock %}

{% block content %}
  <div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div id="fp-wrap" class="span12">
	<div id="fp-maps">
	  <div id="fp-map-all" class="spending-map" data-url="http://openspending.org/datasets.json" data-svg-map="/static/openspendingjs/app/spending-map/world.svg" data-svg-id="regions" data-svg-key="iso2"></div>
	  <div id="fp-map-spending" class="spending-map hide" data-url="http://openspending.org/datasets.json?category=spending" data-svg-map="/static/openspendingjs/app/spending-map/world.svg" data-svg-id="regions" data-svg-key="iso2"></div>
	  <div id="fp-map-budget" class="spending-map hide" data-url="http://openspending.org/datasets.json?category=budget" data-svg-map="/static/openspendingjs/app/spending-map/world.svg" data-svg-id="regions" data-svg-key="iso2"></div>

	  <div id="fp-map-toggler">
	    <div class="btn-group" data-toggle="buttons-radio">
	      <button type="button" class="btn btn-small active" data-target="#fp-map-all">All</button>
	      <button type="button" class="btn btn-small" data-target="#fp-map-spending">Transactions</button>
	      <button type="button" class="btn btn-small" data-target="#fp-map-budget">Budgets</button>
	    </div>
	    <a href="http://openspending.org/resources/handbook/ch006_types-of-data.html">What's the difference?</a>
	  </div>
	</div>
	<div id="fp-blurb">
          <span id="fp-claim">Mapping the money.</span>
          <p>Our aim is to track every government financial transaction
            across the world and present it in useful and engaging forms for everyone from a school-child to a data geek.</p>
	</div>
      </div>
    </div>

  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="span8">
      <form action="{{h.url(controller='entry', action='search')}}"
            method="GET" class="well" id="fp-search">
        <input name="q" class="span7" placeholder="Search 1000000 government transactions in {{c.datasets.count()}} datasets..." />
        <input type="submit" class="btn" value="Search" />
      </form>
      {{h.literal(c.blog.html)}}
    </div>
    <div class="span4">
      <ul class="nav nav-list">
        <li class="nav-header">Getting started</li>
        <li><a href="/help/index.html">What can I do here?</a></li>
        <li><a href="/about/faq.html">FAQ</a></li>
        <li><a href="/datasets">Browse datasets</a></li>


        <li class="nav-header">The project</li>
        <li><a href="/blog/index.html">Spending Blog</a></li>
        <li><a href="/about/portfolio.html">Projects Portfolio</a></li>
        <li><a href="http://lists.okfn.org/mailman/listinfo/openspending">Mailing List</a></li>
        <li><a href="/about/contribute.html">Contribute</a></li>

      </ul>

      <div class="social-links" style="padding-left: 1em;">
        <a href="http://twitter.com/openspending"><img src="/blog/images/blog_twitter.png" /></a>
        <a href="/blog/atom.xml"><img src="/blog/images/blog_feed.png" /></a>
      </div>

      <div class="caption">
        <h3>Join our discussion list!</h3>
        <form action="http://lists.okfn.org/mailman/subscribe/openspending"
          method="POST" class="form-inline">
          <input type="text" class="input-medium" name="email" placeholder="Email" />
          <button type="submit" class="btn">Sign up</button>
        </form>
      </div>

    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>

{% endblock %}
