<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">
  <xi:include href="_list.html" />
  
  <py:def function="nav_class">nav-classifier</py:def>

  <py:def function="page_title">${c.classifier.label} - Entries</py:def>
  
  <div py:def="content">
    <h2 class="page-title">${c.classifier.label}: Entries</h2>
    
    <xi:include href="../_browser.html" />
  </div>

  <xi:include href="../layout.html" />
</html>


