{% macro member_nav(h, c, section) -%}
    <ul class="breadcrumb">
      <li>
        <i class="icon-home"></i>
        <a href="{{ h.url_for(controller='dataset', action='view', dataset=c.dataset.name) }}">
          {{ c.dataset.label }}</a>
        <span class="divider">/</span>
      </li>
      <li>
        <a href="{{h.url_for(controller='dimension', action='view', dataset=c.dataset.name,
                             dimension=c.dimension.name)}}">
          {{ c.dimension.label }}</a>
        <span class="divider">/</span>
      </li>
      <li class="active">
        {{ c.member.label }}
      </li>
      <li class="representations">
        <a href="{{h.url(controller='dimension', action='member', dataset=c.dataset.name,
          name=c.member['name'], dimension=c.dimension.name, format='json')}}">
          <img src="{{ h.static('img/icons/json.png') }}" alt="JSON" xml:lang="en" /></a>
      </li>
    </ul>
    <h2 class="page-header">
      {{ c.member.label }}
    </h2>
    
    <div class="tabbable">
      <ul class="nav nav-tabs">
		{% for view in c.available_views %}
		  {% if view.name == section %}
		    <li class="active"><a>{{ view.label }}</a></li>
          {% else %}
			<li><a href="{{h.url(controller='dimension', action='member',
                dataset=c.dataset.name, dimension=c.dimension.name,
                name=c.member.name, _view=view.name)}}">
              {{ view.label }}</a></li>
          {% endif %}
		{% endfor %}
        <li class="{% if section == 'search' %}active{% endif %}">
            <a href="{{h.url(controller='dimension', action='entries',
              dataset=c.dataset.name, dimension=c.dimension.name, name=c.member.name)}}">Search</a></li>
        {% if 'opencorporates_uri' in c.member and c.member.opencorporates_uri %}
          <li class="">
          <a href="{{ c.member.opencorporates_uri }}" title="{{c.member.label }} on OpenCorporates"><img src="/static/img/icons/external_link.gif" /> OpenCorporates</a></li>
        {% endif %}

        {% if 'uri' in c.member and c.member.uri %}
          {% if 'opencorporates.com' in c.member.uri %}
          <li class="">
            <a href="{{ c.member.uri}}" title="{{c.member.label.strip() }} on OpenCorporates">
              <img src="/static/img/icons/external_link.gif" /> OpenCorporates</a>
          </li>
		  {% endif %}
		  {% if 'publicbodies.org' in c.member.uri %}
          <li class="">
            <a href="{{ c.member.uri}}" title="{{c.member.label.strip() }} on PublicBodies.org">
              <img src="/static/img/icons/external_link.gif" /> PublicBodies.org</a>
          </li>
          {% endif %}
        {% endif %}

      </ul>
    </div>
{%- endmacro %}
