<!DOCTYPE html>
<html lang="{{ language }}" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  >

  <!-- templates/layout.html top -->

  <!-- todo: bring back errors section -->

  <head>
    <meta charset="utf-8" />
    <title>{{ page_title }} - {{ site_title }}</title>
	{% if page_description %}
    <meta name="description" content="{{ page_description }}" />
	{% else %}
    <meta name="description" content="We're enabling anyone to explore, visualize and track government spending." />
	{% endif %}
    <meta name="author" content="Open Knowledge Foundation" />
    <link rel="shortcut icon" href="{{ static }}img/favicon.ico{{ static_cache_version }}" type="image/x-icon" />
    <link rel="alternate" type="application/rss+xml" title="Latest Datasets on OpenSpending"
      href="{{ h.url(controller='dataset', action='feed_rss') }}" />

    <!-- Le styles -->
    <link rel="stylesheet"
    href="http://assets.openspending.org/branding/fonts/opensans/stylesheet.css" />
    <link href="{{ bootstrap_css }}" rel="stylesheet" />
    <link href="{{ style_css }}" rel="stylesheet" />

	<!-- TODO: remove the need for this -->
    {{ optional_head }}

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <!-- templates/layout.html body -->

  <body>

    <div class="navbar navbar-fixed-top" data-dropdown="dropdown">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/" xml:lang="en"><span class="green">Open</span>Spending</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a class="{{ section_active.blog }}"
                href="{{ h.url(controller='content', action='view', section='blog', path='index.html') }}">Spending Blog</a></li>
              <li class="dropdown">
                <a class="list-datasets {{ section_active.dataset }}" href="#datasets">Datasets</a>
              </li>
              <li><a class="{{ section_active.search }}"
                href="{{ h.url(controller='entry', action='search') }}">Search</a></li>
              <li class="dropdown">
                <a class="{{ section_active.resources}} dropdown-toggle"
                  href="/resources/index.html">Community</a>
              </li>
              <li><a class="{{ section_active.help }}"
               href="{{ h.url(controller='content', action='view', section='help', path='index.html') }}">Help</a></li>
              <li><a class="{{ section_active.about }}"
                href="{{ h.url(controller='content', action='view', section='about', path='contact.html') }}">About</a></li>
            </ul>
          </div>
          <ul class="nav pull-right">
			{% if account %}
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/settings">Settings</a></li>
              <li><a href="/logout">Logout</a></li>
			{% else %}
              <li>
                <a href="/login">Login/Register</a>
              </li>
			{% endif %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Language</a>
              <ul class="dropdown-menu locale-dropdown">
				{% for l in languages %}
				<li class="locale {{ l.current_locale }}">
				  <a class="select-locale" data-locale="{{ l.lang_code }}">{{ l.lang_name }}</a>
                </li>
				{% endfor %}
              </ul>
             </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
	  {% if messages %}
        <div>
		  {% for m in messages %}
          <div class="alert alert-{{ m.category }}">
            {{ m.message }}
          </div>
		  {% endfor %}
        </div>
	  {% endif %}
	
