{% set page_title = 'Dimensions in ' + dataset_label %}
{% set page_description = '' %}
{% set optional_head = '' %}

{% include 'header.html' %}

<!--
  <py:def function="nav_class">nav-dataset</py:def>

  <py:def function="page_title"><span py:strip="" i18n:msg="dataset_label">Dimensions in {{ dataset_label }}</span></py:def>
  -->

  <div py:def="content">
    <h2 class="page-header" i18n:msg="dataset_label">{{ dataset_label }}: Dimensions
      <small>Facets of the dataset.</small></h2>
    <div class="row">
      <div class="span12">
        <p i18n:msg="dataset">{{ dataset_label }} has the following dimensions:</p>
		<ul>
		{% for dimension in dimensions %}	
		  <li>
			<a class="dimension-name" href="/{{ dataset }}/{{ dimension.name }}">
			  <strong>{{ dimension.label }}</strong> <!-- or dimension name -->
			  <!-- <py:if test="dimension.key">
				<abbr title="Part of unique key"><i class='icon-star'></i></abbr>
			  </py:if> -->
			</a>
		  </li>
		
		{% endfor %}
		</ul>

      </div>
    </div>
  </div>

{% include 'footer.html' %}

