{% extends "base.html" %}

{% block page_title %}{% trans dataset=c.dataset.label %}Dimensions in {{ dataset }}{% endtrans %}{% endblock %}

{% from "_dimension_list.html" import dimensions_list as dimensions_list %}

{% block content %}
  <div>
    <h2 class="page-header">{{ c.dataset.label }}: {% trans %}Dimensions{% endtrans %}
      <small>{% trans %}Facets of the dataset.{% endtrans %}</small></h2>
    <div class="row">
      <div class="span12">
        <p>{% trans dataset=c.dataset.label %}{{dataset}} has the following dimensions{% endtrans %}:</p>
        {{ dimensions_list(c, c.dataset.dimensions) }}
      </div>
    </div>
  </div>

{% endblock %}

