{% extends "base.html" %}

{% block page_title %}{{c.member['label']}}{% endblock %}
{% block page_desc %}{{h.entry_description(c.member)}}{% endblock %}

{% block optional_head %}
    <!-- TODO: Load this from the widget itself. -->
	{% if 'widget' in c.__dict__ %}
	  <link rel="stylesheet" 
			href="{{c.widget.base}}/css/{{c.widget.name}}.css" type="text/css" 
			/>
	{% endif %}
{% endblock %}

{% from "_widgets.html" import widget_js as widget_js %}
{% from "_util.html" import share_scripts as share_scripts %}

{% block scripts %}
	{% if c.view %}
      {{ widget_js(h, c, 'vis_widget', c.view.vis_widget, 
	               c.view.vis_state, handles=True) }}

      {{ widget_js(h, c, 'table_widget', c.view.table_widget, 
                   c.view.table_state, handles=False) }}
	{% endif %}
    {{share_scripts(g)}}
{% endblock %}

{% from "_nav.html" import member_nav as member_nav %}
{% from "_util.html" import share_body as share_body %}

{% block content %}
    {{member_nav(h, c, c.view.name if c.view else 'search')}}

    <div py:if="c.view" class="row">
      <div class="span12"><div id="vis_widget" style="width: auto; height: 400px"/></div>
    </div>

    <div class="well widget-context">
      <div class="pull-right">
        <a href="#" class="btn btn-mini" id="widget-embed-link"><i class="icon-share"></i> Embed</a>
        <a href="#" class="btn btn-mini hidden" id="widget-edit-link"><i class="icon-cog"></i> Change</a>
        <a href="#" class="btn btn-mini hidden" id="widget-download-link"><i class="icon-download"></i> Data</a>
      </div>
      <p>
        <py:if test="c.member.get('description') and len(c.member.get('description'))">
          {{h.markdown(c.member.get('description'))}}
        </py:if>
        &nbsp;
      </p>
    </div>

    <div py:if="c.view" class="row">
      <div class="span12"><div id="table_widget"/></div>
    </div>

    {{share_body(g)}}
  </div>
{% endblock %}
