<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>
          {% trans %}This is an <a href="http://okfn.org">Open Knowledge Foundation</a>
          project{% endtrans %}.
        </p>
      </div>
    </div>
    <div class="row">    
      <div class="col-md-4">
        <ul class="footer-links">
          <li>
            <a href="http://wheredoesmymoneygo.org">
              Where Does My Money Go (UK)
            </a>
          </li>
          <li>
            <a href="http://offenerhaushalt.de">
              OffenerHaushalt (DE)
            </a>
          </li>
          <li>
            <a href="http://opencorporates.com"
              title="The Open Database Of The Corporate World">
              OpenCorporates.com
            </a>
          </li>
          <li>
            <a href="http://okfnlabs.org">
              OKFN Labs
            </a>
          </li>
          <li>
            <a href="http://spendingstories.org">
              Spending Stories
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="footer-links">
          <li>
            <a href="http://twitter.com/openspending">
              Twitter
            </a>
          </li>
          <li>
            <a href="http://community.openspending.org/help/">
              {% trans %}Help{% endtrans %}
            </a>
          </li>
          <li>
            <a href="http://community.openspending.org/contact/">
              {% trans %}Contact{% endtrans %}
            </a>
          </li>
          <li>
            <a href="http://community.openspending.org/help/api/">
              {% trans %}API{% endtrans %}
            </a>
          </li>
          <li>
            <a href="http://okfn.org/privacy-policy/">
              {% trans %}Privacy{% endtrans %}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <p>
          {% trans %}All <a href="http://www.gnu.org/licenses/agpl.html">code</a>,
          <a href="http://creativecommons.org/licenses/by/3.0/">content</a>
          and <a href="http://opendatacommons.org/licenses/odbl/">data</a> is
          openly licensed.{% endtrans %}
        </p>
      </div>
    </div>
  </div>
</footer>
