{% macro share_scripts() -%}
  {% if not config.DEBUG %}
    <script src="https://apis.google.com/js/platform.js" async defer>
      {lang: 'en-GB'}
    </script>
  {% endif %}
{%- endmacro %}

{% macro share_body() -%}
  {% if not config.DEBUG %}
    <div class="row">
      <div class="span12">
        <!-- twitter share -->
        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
        <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>

        <!-- facebook share -->
        <script>
        !function(d){
          var currentEl=d.getElementsByTagName('script')[0];
          var ifr=d.createElement('iframe');
          ifr.src='https://www.facebook.com/plugins/share_button.php?href=' + encodeURIComponent(location.href) + '&layout=button_count';
          ifr.setAttribute('scrolling', "no");
          ifr.setAttribute('frameborder', "0");
          ifr.setAttribute('allowtransparency', "true");
          ifr.style.width = "110px";
          ifr.style.height = "20px";
          currentEl.parentNode.insertBefore(ifr,currentEl);
        }(document);
        </script>

        <!-- g+ share -->
        <div class="g-plusone" data-size="medium"></div>
      </div>
    </div>
  {% endif %}
{%- endmacro %}

{% macro google_analytics() -%}
    {% if not config.DEBUG %}
      <script type="text/javascript" defer="defer">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-8271754-17']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    {% endif %}
{%- endmacro %}
