<!DOCTYPE html>
<html lang="{{ current_language }}">
  <!-- todo: bring back errors section -->
  <head>
    <meta charset="utf-8" />
    <title>{% block page_title %}{% endblock %} - {{ site_title }}</title>
    <meta name="description" content="{% block page_desc %}{% trans %}We're enabling anyone to explore, visualize and track government spending.{% endtrans %}{% endblock %}" />
    <meta name="author" content="Open Knowledge Foundation" />
    <link rel="shortcut icon" href="{{ static_path('img/favicon.ico') }}" type="image/x-icon" />
    <link rel="alternate" type="application/rss+xml" title="{% trans %}Latest Datasets on OpenSpending{% endtrans %}" href="{{ url_for('dataset.feed_rss') }}" />

    <!-- Le styles -->
    <link rel="stylesheet" href="//d8r2br52tx8wq.cloudfront.net/branding/fonts/opensans/stylesheet.css" />
    <link href="{{ static_path('style/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ static_path('style/style.css') }}" rel="stylesheet" />

	<!-- TODO: remove the need for this -->
	{% block optional_head %}
	{% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <!-- templates/layout.html body -->

  <body>

    <div class="navbar navbar-fixed-top" data-dropdown="dropdown">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/" xml:lang="en"><span class="green">Open</span>Spending</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li>
                <a class="{{ section_active.dataset }}" href="/datasets">{% trans %}Datasets{% endtrans %}</a>
              </li>
              <li>
                <a class="{{ section_active.search }}" href="{{ url_for('entry.search') }}">{% trans %}Search{% endtrans %}</a>
              </li>
              <li>
                <a href="http://community.openspending.org/" onClick="_gaq.push(['_trackEvent', 'Community', 'Main', 'Navigational bar']);">{% trans %}Community{% endtrans %}</a>
              </li>
              <li>
                <a href="http://community.openspending.org/help/" onClick="_gaq.push(['_trackEvent', 'Community', 'Help', 'Navigational bar']);">{% trans %}Help{% endtrans %}</a>
              </li>
              <li>
                <a href="http://community.openspending.org/about/" onClick="_gaq.push(['_trackEvent', 'Community', 'About', 'Navigational bar']);">{% trans %}About{% endtrans %}</a>
              </li>
              <li>
                <a href="http://community.openspending.org/contact/" onClick="_gaq.push(['_trackEvent', 'Community', 'Contact', 'Navigational bar']);">{% trans %}Contact{% endtrans %}</a>
              </li>
              <li>
                <a class="{{ section_active.blog }}" href="http://community.openspending.org/blog/" onClick="_gaq.push(['_trackEvent', 'Community', 'Blog', 'Navigational bar']);">{% trans %}Blog{% endtrans %}</a>
              </li>
            </ul>
          </div>
          <ul class="nav pull-right">
	    {% if logged_in %}
	    <li class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown">
		<img src="{{ current_user.email | gravatar(size=20) }}" alt="{{ current_user.fullname }}" style="vertical-align: middle;"> <strong>{{ current_user.name }}</strong>
	      </a>
	      <ul class="dropdown-menu account-dropdown">
		<li><a href="{{ url_for('account.dashboard') }}">{% trans %}Dashboard{% endtrans %}</a></li>
		<li><a href="{{ url_for('account.settings') }}">{% trans %}Settings{% endtrans %}</a></li>
                {% if current_user.admin %}
                <li class="divider"></li>
                <li><a href="{{ url_for('account.scoreboard') }}">{% trans %}User scoreboard{% endtrans %}</li>
                {% endif %}
		<li class="divider"></li>
		<li><a href="/logout">{% trans %}Logout{% endtrans %}</a></li>
	      </ul>
	    </li>
	    {% else %}
            <li>
              <a href="/login">{% trans %}Login/Register{% endtrans %}</a>
            </li>
	    {% endif %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">{% trans %}Language{% endtrans %}</a>
              <ul class="dropdown-menu locale-dropdown">
		            {% for l in languages %}
                  <li class="locale {{ 'current_locale' if l.current_locale else '' }}">
		                <a class="select-locale" data-locale="{{ l.lang_code }}">{{ l.lang_name }}</a>
                  </li>
                {% endfor %}
              </ul>
             </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="banner">
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="container">
              <div>
  	            {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                    {{ message }}
                  </div>
  	            {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endwith %}
        {% block banner %}{% endblock %}
      </div>
    </div>
    <div class="container">
    {% block content %}{% endblock %}
    </div>
  </div>
    <div id="catapult-cookie-bar">{% trans %}This site uses cookies{% endtrans %}<button id="catapultCookie" tabindex="1">{% trans %}Okay, thanks{% endtrans %}</button><a tabindex="1" href="http://okfn.org/cookie-policy">{% trans %}Find out more{% endtrans %}</a></div>
    <footer>
      <div class="inner">
        <div class="container">
          <p>{% trans %}This is an <a href="http://okfn.org">Open Knowledge Foundation</a>
            project{% endtrans %}.</p>

          <ul class="footer-links span4 pull-left">
            <li><a href="http://wheredoesmymoneygo.org">Where Does My Money Go
              (UK)</a></li>
            <li><a href="http://offenerhaushalt.de">OffenerHaushalt (DE)</a></li>
            <li><a href="http://opencorporates.com" title="The Open Database Of The Corporate World">OpenCorporates.com</a></li>
            <li><a href="http://okfnlabs.org">OKFN Labs</a></li>
            <li><a href="http://spendingstories.org">Spending Stories</a></li>
          </ul>
          <ul class="footer-links span4 pull-left">
            <li><a href="http://twitter.com/openspending" onClick="_gaq.push(['_trackEvent', 'Social media', 'Follow', 'Twitter']);">Twitter</a></li>
            <li><a href="http://community.openspending.org/help/" onClick="_gaq.push(['_trackEvent', 'Community', 'Help', 'Footer']);">{% trans %}Help{% endtrans %}</a></li>
            <li><a href="http://community.openspending.org/contact/" onClick="_gaq.push(['_trackEvent', 'Community', 'Contact', 'Footer']);">{% trans %}Contact{% endtrans %}</a></li>
            <li><a href="http://community.openspending.org/help/api/" onClick="_gaq.push(['_trackEvent', 'Community', 'API', 'Footer']);">{% trans %}API{% endtrans %}</a></li>
            <li><a href="http://okfn.org/privacy-policy/">{% trans %}Privacy{% endtrans %}</a></li>
          </ul>
          <p>{% trans %}All <a href="http://www.gnu.org/licenses/agpl.html">code</a>,
          <a href="http://creativecommons.org/licenses/by/3.0/">content</a>
          and <a href="http://opendatacommons.org/licenses/odbl/">data</a> is
          openly licensed in accordance with the
          <a href="http://opendefinition.org/">open definition</a>{% endtrans %}.
          <br/><br/>
          <a href="http://opendefinition.org"><img src="//assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="Open Content" /></a></p>
        </div>
      </div>
    </footer>

      <!-- script boot section -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="{{ static_path('js/json2.js') }}"></script>
      <script src="{{ static_path('js/jquery.cookie.js') }}"></script>
      <script src="{{ static_path('openspendingjs/prod/boot.js') }}"></script>
      <script defer="defer">
		    OpenSpending.scriptRoot = "{{ static_path('openspendingjs') }}";
		    OpenSpending.localeGroupSeparator = "{{ number_symbols_group }}";
		    OpenSpending.localeDecimalSeparator = "{{ number_symbols_decimal }}";
      </script>
      <!-- end script boot section -->

	{% block scripts %}{% endblock %}
	{% if not DEBUG %}
    <script type="text/javascript" defer="defer">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8271754-17']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
	{% endif %}
  <script type="text/javascript">
    jQuery(document).ready(function() {
      if($.cookie("cookiecheck")) {
        //If the cookie has been set
        jQuery("#catapult-cookie-bar").hide();
        jQuery("html").css("margin-top","0");
      }
      $('#catapultCookie').click(function() {
        $.cookie('cookiecheck', 'True', { path: '/' });
        jQuery("#catapult-cookie-bar").hide();
        jQuery("html").css("margin-top","0");
      });
     });
    </script>
  </body>
</html>
