<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <py:def function="sources_list(dataset)">
    <table class="sources table table-striped table-condensed">
      <tr>
        <th colspan="2">Link</th>
        <th>Operations</th>
      </tr>
      <py:for each="source in dataset.sources">
        <tr>
          <td colspan="2">
            <py:if test="'error' in source.analysis">
              <span class="label label-important">Error</span>
            </py:if>
            <py:if test="'columns' in source.analysis">
              <span class="label label-info">OK</span>
            </py:if>
            <a href="${source.url}">${h.readable_url(source.url)}</a>
            <py:if test="'error' in source.analysis">
              &mdash; <strong>${source.analysis['error']}</strong>
            </py:if>
            <py:if test="'columns' in source.analysis">
              <span class="help-inline">
                ${len(source.analysis['columns'])} columns
              </span>
            </py:if>
          </td>
          <py:if test="source == dataset.sources[0]">
            <td class="ops">
              <py:if test="source.loadable">
                <form method="POST" action="${h.url(controller='source',
                  action='load', dataset=c.dataset.name, id=source.id)}">
                  <input type="hidden" name="sample" value="true" />
                  <input type="submit" class="btn btn-small" value="Test a sample" />
                </form>
                <form method="POST" action="${h.url(controller='source',
                  action='load', dataset=c.dataset.name, id=source.id)}">
                  <input type="submit" class="btn btn-success btn-small" value="Load" />
                </form>
              </py:if>
              <py:if test="not source.loadable">
                <a href="#" type="submit" class="btn btn-small disabled">Test a sample</a>
                <a href="#" type="submit" class="btn btn-success btn-small disabled">
                  Load</a>
              </py:if>
            </td>
          </py:if>
          <py:if test="source != dataset.sources[0]">
            <td></td>
          </py:if>
        </tr>
	<tr>
	  <py:choose>
            <py:when test="source.runs.count()">
              <td class="top" width="5%"><strong>Reports</strong>:</td>
              <td colspan="2">
		<ul class="runs">
		  <li py:for="run in source.runs[:5]">
                    <a href="${h.url(controller='run', action='view',
			     dataset=c.dataset.name, source=source.id, id=run.id)}">
                      ${run.time_start.strftime("%d.%m.%Y, %H:%M")}</a>
                    <py:if test="run.status == 'running'">
                      <span class="label label-info">Running</span>
                    </py:if>
                    <py:if test="run.status == 'complete'">
                      <span class="label label-success">Complete</span>
                    </py:if>
                    <py:if test="run.status == 'failed'">
                      <span class="label label-important">Errors</span>
                    </py:if>
                    <span py:strip="" i18n:msg="count">(${run.records.count()} Errors)</span>
		  </li>
		</ul>
              </td>
	  </py:when>
	  <py:otherwise>
	    <td class="top" width="5%"><strong>Analysis</strong>:</td>
	    <td colspan="2">
	      <py:choose>
		<py:when test="'columns' in source.analysis and len(source.analysis['columns'])">
		  We found these columns in the CSV file:
		  <ul>
		    <py:for each="column in source.analysis['columns']">
		      <li>${column}</li>
		    </py:for>
		  </ul>
		</py:when>
		<py:when test="'columns' in source.analysis">
		  <span class="label label-warning">Warning</span> No columns found.
		</py:when>
		<py:otherwise>
		  <span class="label label-info">Still analysing</span> Try refreshing in a moment.
		</py:otherwise>
	      </py:choose>
	    </td>
	  </py:otherwise>
	</py:choose>
        </tr>
      </py:for>
    </table>
  </py:def>

</html>


