<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <xi:include href="_new_form.html" />
  <xi:include href="../editor/_nav.html" />
  
  <py:def function="nav_class">nav-source</py:def>

  <py:def function="page_title">Create a data source</py:def>
  
  <div py:def="content">
    ${editor_nav('index')}    
    <div class="row">
      <div class="span4">&nbsp;</div>
      <div class="span12">
        <h3>Create a data source</h3>
        <form class="basic" action="${h.url(controller='source', action='create',
          dataset=c.dataset.name)}" method="POST">
          ${new_form()}
          <div class="actions">
            <input value="Create" class="btn success" type="submit" />
          </div>
        </form>
      </div>
    </div>
  </div>

  <xi:include href="../layout.html" />
</html>




