{% extends "base.html" %}
{% from "editor/_nav.html" import editor_nav with context %}

{% block page_title %}{{ dataset.label or dataset.name }}{% endblock %}

{% block scripts %}
    <script>
      jQuery(function($) {
        $(".chzn-select").chosen();
      });
    </script>
{% endblock %}


{% block content %}
    <!-- templates/editor/core.html -->
    {{editor_nav(dataset, 'core')}}
    
    <div class="row">
      <div class="offset2 span10">
        {% formfill form_fill with form_errors -%}
        <form class="form-horizontal" action="{{ url_for('editor.core_update', dataset=dataset.name) }}" method="POST">
          <input name="name" value="{{ dataset.name }}" type="hidden" />
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="label">{% trans %}Title{% endtrans %}</label>
              <div class="controls">
                <input class="input-xlarge span4" name="label" placeholder="{% trans %}My Dataset{% endtrans %}" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="territories">{% trans %}Category{% endtrans %}</label>
              <div class="controls">
                <select name="category" class="chzn-select span4">
                  {% for code,name in categories %}
                  <option value="{{ code }}">{{ name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="currency">{% trans %}Currency{% endtrans %}</label>
              <div class="controls">
                <select name="currency" class="chzn-select span4">
                  <optgroup label="{% trans %}Commonly used currencies{% endtrans %}">
                    {% for code,name in key_currencies %}
                    <option value="{{ code }}">{{ name }} ({{ code }})</option>
                    {% endfor %}
                  </optgroup>
                  <optgroup label="{% trans %}All currencies{% endtrans %}">
                    {% for code,name in all_currencies -%}
                    <option value="{{ code }}">{{ name }} ({{ code }})</option>
                    {% endfor %}
                  </optgroup>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="default_time">{% trans %}Default year{% endtrans %}</label>
              <div class="controls">
                <select name="default_time" class="chzn-select span4">
                  {% for time in available_times %}
                  <option value="{{ time }}">{{ time }}</option>
                  {% else %}
                  <option value="">{% trans %}(No data is loaded){% endtrans %}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="territories">{% trans %}Countries{% endtrans %}</label>
              <div class="controls">
                <select name="territories" multiple="multiple" class="chzn-select span4">
                  {% for code,name in territories -%}
                  <option value="{{ code }}">{{ name }} ({{ code }})</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="languages">{% trans %}Languages{% endtrans %}</label>
              <div class="controls">
                <select name="languages" multiple="multiple" class="chzn-select span4">
                  {% for code,name in languages -%}
                  <option value="{{ code }}">{{ name }} ({{ code }})</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="description">{% trans %}Description{% endtrans %}</label>
              <div class="controls">
                <textarea class="input-xxlarge" rows="7" name="description"></textarea>
              </div>
            </div>
          </fieldset>
          <div class="form-actions">
            <input value="{% trans %}Update{% endtrans %}" class="btn btn-success" type="submit" />
          </div>
        </form>
        {%- endformfill %}
      </div>
    </div>

{% endblock %}
