{% extends "base.html" %}
{% from "editor/_nav.html" import editor_nav with context %}

{% block page_title %}{{ dataset.label or dataset.name }}{% endblock %}

{% block optional_head %}
<style>
  #frame {
    display: none;
    position: relative;
    height: 305px;
  }

  #column-names .used {
    text-decoration: line-through;
    background-color: #ffffff;
  }

  #column-names-container {
    text-align: right;
  }

  #column-names-container h3 {
    padding: 5px;
  }
      
  #column-names-container li {
    list-style-type: none;
  }

  .rm_dimension {
    float: right;
  }

  #add-dimension .well {
    overflow-y: scroll;
    max-height: 350px;
  }

  #add-dimension li.used {
    color: #ddd;
    text-decoration:line-through;
  }
</style>

<script>
  var validDimensionType = function(ty) {
    var validTypes = [ 'attribute', 'value', 'date', 'measure' ];
    return ($.inArray(ty, validTypes) !== -1);
  };
</script>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ static_path('openspendingjs/lib/vendor/jquery.tmpl.js') }}"></script>
  <script type="text/javascript" src="{{ static_path('openspendingjs/app/dimensions-editor/main') }}"></script>
  <script type="text/javascript" src="{{ static_path('openspendingjs/app/dimensions-editor/modelEditorInit.js') }}"></script>

  <script>
    jQuery(function($) {
      var config = {
        dataset: "{{ dataset.name }}",
        source: "{{ source.id }}",
        editorSelector: "#m1",
        fallbackSelector: '#mapping',
        namesHook: '#names-hook'
        };

      $(document).ready(function () {
        $('.dimensions_widget').show();
        initModelEditor($, config);
      });
    });
  </script>
{% endblock %}

{% block content %}
<!-- templates/editor/dimensions.html -->
{{editor_nav(dataset, 'dimensions')}}
<div id="m1">
  <div class="dimensions_widget">
    <div class="row">
      <div class="span3">
        <p>
          <a class='btn btn-primary' data-backdrop="true"
             data-toggle="modal"
             data-keyboard="true" href='#add-dimension'>
            <i class="icon-plus icon-white"></i>
            {% trans %}Add Dimension{% endtrans %}</a>
        </p>
        <p class="help-block">
          {% trans %}Make sure your dimensions import all source data columns.{% endtrans %}<br/><br/>
        </p>
        
        <p>
          <a class='btn btn-primary' data-backdrop="true"
             data-toggle="modal" href='#check-uniques'>{% trans %}Set Unique Dimensions{% endtrans %}</a>
        </p>
        <p class="help-block">
          {% trans %}Identify the dimensions that help to identify each entry.{% endtrans %}<br/><br/>
        </p>
        
        <h3>{% trans %}Existing Dimensions{% endtrans %}</h3>
        <div class="well">
          <ul id="names-hook" class="dimension-names nav nav-list">
          </ul>
        </div>
        
        <!-- Unique dimensions selector window. --> 
        <div id="check-uniques" class="modal hide fade">
          <div class="modal-header">
            <h3>{% trans %}Specify which dimensions identify an entry uniquely{% endtrans %}</h3>
          </div>
          <form action='#'>
            <div class="modal-body">
              <ul id="uniques" style="list-style: none;">
              </ul>
            </div>
            <div class="modal-footer">
              <a class='btn set_uniques btn-success'>{% trans %}Update{% endtrans %}</a>
            </div>
          </form>
        </div>
        
        <!-- Add dimension window. -->
        <div id="add-dimension" class="modal big-modal hide fade">
          <div class="modal-header">
            <h3>{% trans %}Add new dimension{% endtrans %}</h3>
          </div>
          <form action='#' class="form-horizontal">
            <div class="modal-body">
              <div class="row">
                <div class="span6">
                  <div class="control-group">
                    <label for="new-dimension-name">{% trans %}Name{% endtrans %}</label>
                    <div class="controls">
                      <input type='text' name='new-dimension-name' value='' />
                      <p class="help-block">
                        {% trans %}The name you choose should only contain letters, numbers and dashes (i.e., no spaces){% endtrans %}
                      </p>
                      <p class="help-block">
                        {% trans %}Where the dimension represents the ultimate source or destination of the funds, call it <code>from</code> or <code>to</code>{% endtrans %}.
                      </p>
                    </div>
                  </div>
                  <div class="control-group">
                    <label for="new-dimension-type">{% trans %}Type{% endtrans %}</label>
                    <div class="controls">
                      <label class="checkbox">
                        <input id='dimension_type' type="radio" name="new-dimension-type" value="compound" />
                        {% trans %}Dimension{% endtrans %}
                        <p class="help-block">
                          {% trans %}A defined set, like suppliers or classifications, with multiple attributes (e.g. supplier name and VAT number).{% endtrans %}
                        </p>
                      </label>
                      <label class="checkbox">
                        <input id='dimension_type' type="radio" name="new-dimension-type" value="attribute" />
                        {% trans %}Attribute{% endtrans %}
                        <p class="help-block">
                          {% trans %}A simple value, e.g. descriptions or transaction IDs.{% endtrans %}
                        </p>
                      </label>
                      <label class="checkbox">
                        <input id='dimension_type' type="radio" name="new-dimension-type" value="date" />
                        {% trans %}Date{% endtrans %}
                        <p class="help-block">
                          {% trans %}Temporal value, e.g. start of project, date of disbursement.{% endtrans %}
                        </p>
                      </label>
                      <label class="checkbox">
                        <input id='dimension_type' type="radio" name="new-dimension-type" value="measure" />
                        {% trans %}Measure{% endtrans %}
                        <p class="help-block">
                          {% trans %}Monetary information, e.g. amount disbursed or allocated.{% endtrans %}
                        </p>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="span3">
                  <h3>{% trans %}Unmapped source data columns{% endtrans %}</h3>
                  <div class="well">
                    <ul id="new-dimension-columns"></ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <a class='btn cancel_add_dimension btn-danger'>{% trans %}Cancel{% endtrans %}</a>
              <a class='btn add_dimension btn-success'>{% trans %}Add{% endtrans %}</a>
            </div>
          </form>
        </div>
        
      </div>
      
      <div class="span9">
        {% if c.saved %}
        <div class="alert block-message alert-success">
          <strong>{% trans %}Your model was saved.{% endtrans %}</strong> {% trans %}You can now try to load a sample of the data by returning back to the dashboard.{% endtrans %}
          <div class="alert-actions">
            <a class="btn btn-small" href="{{ h.url_for(controller='editor',
                                           action='index',
                                           dataset=c.dataset.name) }}">
              {% trans %}Visit dashboard{% endtrans %}</a>
          </div>
        </div>
        {% endif %}
        
        {% if form_errors|length %}
        <div class="alert block-message alert-error">
          <p>
            {% trans %}The dimensions mapping could not be saved as it 
            contains some errors{% endtrans %}:
          </p>
          <ul>
            {% for field, error in form_errors.items() -%}
            <li><strong>{{ field }}:</strong> {{ error }}</li>
            {%- endfor %}
          </ul>
        </div>
        {% endif %}
        
        <div class="forms">
          <form action="#" id="editor-form">
            <div class="modeleditor tab-content dimensions">
              <div class='tab-pane active' id='help'>
                <div>
                  <!-- Dimension mapping -->
                  <h2>{% trans %}Dimension mapping{% endtrans %}</h2>
                  <p>
                    {% trans %}To create a model for your dataset,
                    you need to translate the columns in 
                    the data file to "dimensions", the logical
                    divisions of the dataset. A dimension
                    can be any property of a line item or 
                    transaction that should be presented
                    within OpenSpending.{% endtrans %}
                  </p>
                  <p>
                    {% trans %}There are four core dimensions, <code>amount</code>,
                    <code>time</code> &mdash; which are
                    mandatory &mdash; as well as
                    <code>from</code> for the spender,
                    and <code>to</code> for the
                    recipient of a specific transaction
                    &mdash; both of those must be
                    dimensions if they exist.{% endtrans %}
                  </p>
                  <p>
                    {% trans %}Beyond that, you can add your own
                    dimensions to describe aspects such
                    as classification schemes,
                    descriptions, transaction IDs and any
                    other details present in the source
                    data.{% endtrans %}
                  </p>
                  <h3>{% trans %}What do I do here?{% endtrans %}</h3>
                  <p>
                    {% trans %}First off, make sure to set up the
                    model to conform to these basic
                    requirements:{% endtrans %}
                  </p>
                  <ul>
                    <li>{% trans %}Create <code>amount</code> with the core 
                      financial measure of the dataset and 
                      <code>time</code> to represent the most 
                      representative temporal
                      dimension.{% endtrans %}</li>
                    <li>{% trans %}If your data is transactional and 
                      contains the name of a department or 
                      body spending the funds, make sure to 
                      include a <code>from</code> dimension.{% endtrans %}</li>
                    <li>{% trans %}If the data mentions a recipient,
                      such as a supplier, set
                      <code>to</code> as another dimension.{% endtrans %}</li>
                    <li>{% trans %}Set a unique key combination so
                      that the values within that
                      combination are different between all 
                      entries in the dataset. This can
                      later be used for updating the
                      dataset.{% endtrans %}</li>
                  </ul>
                  <p>
                    {% trans %}After you've done these basic things,
                    make sure to also create dimensions
                    to cover any other aspects present in 
                    the source data. You can group
                    related columns into a single
                    dimension, for example if each row 
                    mentions both a company's name and
                    its VAT number.{% endtrans %}
                  </p>
                </div> <!-- /.forms -->
                
                <!-- Dimension column field template -->
                {% raw %}
                <script id='tpl_dimension_field' type='text/x-jquery-tmpl'>
                  <tr data-field-name="${fieldName}">
                    <td>${fieldName}</td>
                    <td><select class="column" name="${prefix(fieldName)}[column]"></select></td>
                    <td>
                      <select name="${prefix(fieldName)}[datatype]">{% endraw %}
                        <option value="string">{% trans %}string{% endtrans %}</option>
                        <option value="float">{% trans %}float{% endtrans %}</option>
                        <option value="id">{% trans %}id{% endtrans %}</option>
                        <option value="date">{% trans %}date{% endtrans %}</option>
                        <option value="url">{% trans %}url{% endtrans %}</option>
                      {% raw %}</select>
                    </td>
                    <td>
                      <input type="short" class="span3" name="${prefix(fieldName)}[default_value]" placeholder="{% endraw %}{% trans %}Default Value{% endtrans %}{% raw %}" />
                    </td>
                    <td>
                      {{if required(fieldName) != true}}
                      <a href="#" class="field_rm"><i class="icon-remove"></i></a>
                      {{/if}}
                    </td>
                  </tr>
                </script>
                
                <!-- Dimension template -->
                <script id="tpl_dimension" type="text/x-jquery-tmpl">
                  <div class="form-horizontal">
                    <input type="hidden" name="${name}[type]" value="${data.type}" />
                    {{if meta.fixedDataType}}
                    <input type="hidden" name="${name}[datatype]" value="${data.datatype}" />
                    {{/if}}
                    <legend>${name} (${data.type})</legend>
                    {{if meta.helpText}}<p>${meta.helpText}</p>{{/if}}
                    
                    <div class="control-group">
                      <label class="control-label">{% endraw %}{% trans %}Label{% endtrans %}{% raw %}:</label>
                      <div class="controls">
                        <input type="text" name="${name}[label]" value="${data.label}" />
                        <p class="help-block">
                          {% endraw %}{% trans %}A human-readable title for this
                          dimension.{% endtrans %}{% raw %}
                        </p>
                      </div>
                    </div>
                    <div class="control-group">
                      <div class="controls">
                        <label class="checkbox">
                          <input type="checkbox" name="${name}[key]" value="true" />
                          {% endraw %}{% trans %}Include in unique key{% endtrans %}{% raw %}
                        </label>
                        <p class="help-block">
                          {% endraw %}{% trans %}Make this dimension part of the set of
                          uniquely identifying values for each
                          column.{% endtrans %}{% raw %}
                        </p>
                      </div>
                    </div>
                    
                    {{if validDimensionType(data.type)}}
                    <div class="control-group">
                      <label class="control-label">{% endraw %}{% trans %}Column{% endtrans %}{% raw %}:</label>
                      <div class="controls">
                        <select class="column" name="${name}[column]"></select>
                        <p class="help-block">
                          {% endraw %}{% trans %}Source column in the source CSV file.{% endtrans %}{% raw %}
                        </p>
                      </div>
                    </div>
                    <hr/>
                    <div class="control-group">
                      <label class="control-label">{% endraw %}{% trans %}Default value{% endtrans %}{% raw %}:</label>
                      <div class="controls">
                        <input class="short" name="${name}[default_value]" />
                        <p class="help-block">
                          {% endraw %}{% trans %}Empty cells will be padded with this
                          value.{% endtrans %}{% raw %}
                        </p>
                      </div>
                    </div>
                    {{if !meta.fixedDataType}}
                    <div class="control-group">
                      <label class="control-label">{% endraw %}{% trans %}Data type{% endtrans %}{% raw %}:</label>
                      <div class="controls">
                        <select name="${name}[datatype]">{% endraw %}
                          <option value="string">{% trans %}string{% endtrans %}</option>
                          <option value="float">{% trans %}float{% endtrans %}</option>
                          <option value="id">{% trans %}id{% endtrans %}</option>
                          <option value="date">{% trans %}date{% endtrans %}</option>
                          <option value="url">{% trans %}url{% endtrans %}</option>
                        {% raw %}</select>
                      </div>
                    </div>
                    {{/if}}
                    {{/if}}
                    <div class="control-group">
                      <label class="control-label">{% endraw %}{% trans %}Description{% endtrans %}{% raw %}:</label>
                      <div class="controls">
                        <textarea class="short" name="${name}[description]">${data.description}</textarea>
                      </div>
                    </div>
                    <div class="control-group">
                      <div class="controls">
                        <label class="checkbox">
                          <input type="checkbox" name="${name}[facet]" value="true" />
                          {% endraw %}{% trans %}Use as facet in entries browser{% endtrans %}{% raw %}
                        </label>
                        <p class="help-block">
                          {% endraw %}{% trans %}Select a few dimensions which are useful
                          to slice the dataset by.{% endtrans %}{% raw %}
                        </p>
                      </div>
                    </div>
                  </div>
                  {{if !(validDimensionType(data.type))}}
                  <div><table class="table table-condensed table-striped fields">
                      <thead>
                        <tr>{% endraw %}
                          <th>{% trans %}Field{% endtrans %}</th>
                          <th>{% trans %}Column{% endtrans %}</th>
                          <th>{% trans %}Type{% endtrans %}</th>
                          <th>{% trans %}Default{% endtrans %}</th>
                          <th>&nbsp;</th>
                        {% raw %}</tr>
                      </thead>
                      <tbody>
                        {{each(n, f) data.attributes}}
                        {{tmpl({"fieldName": n, "prefix": formFieldPrefix, "required": formFieldRequired}) "#tpl_dimension_field"}}
                        {{/each}}
                      </tbody>
                  </table></div>
                  <a class="btn add_field" href="#">{% endraw %}{% trans %}Add a field{% endtrans %}{% raw %}</a>
                  {{/if}}
                </script>
              </div> <!-- /.modeleditor -->
              {% endraw %}
            </div>
          </form>
        </div>
        
      </div>
    </div>
    <form  class="basic" id="form" method="POST"
           action="{{ url_for('editor.dimensions_update', dataset=dataset.name) }}">
      <textarea id="mapping" name="mapping" style="display: none">{{fill.mapping }}</textarea>
      <div class="form-actions">
        <input id="save" value="{% trans %}Save Dimensions{% endtrans %}" class="btn btn-success" type="submit" />
        <input type="button" class='btn btn-danger rm_all_dimensions' value="{% trans %}Delete All Dimensions{% endtrans %}" />
      </div>
    </form>
  </div>
</div>

{% endblock %}
