{% extends "base.html" %}
{% from "editor/_nav.html" import editor_nav with context %}

{% block page_title %}{{ dataset.label or dataset.name }}{% endblock %}

{% block content %}
  <!-- templates/editor/templates.html -->
  {{editor_nav(dataset, 'templates')}}

  <div class="row">
    <div class="span4">
      <div class="alert alert-block">
        <p>
          {% trans %}In this section, you can configure how transactions from this dataset
          are represented in global search results. This is an advanced option 
          that you can skip.{% endtrans %}
        </p>
        <p>
          {% trans %}Templates are composed using the
          <a href="http://mustache.github.com/mustache.5.html">Mustache</a>
          syntax and they can make use of the dimensions and attributes defined
          for this dataset.{% endtrans %}
        </p>
      </div>
    </div>
    <div class="span8">
      {% formfill form_fill with form_errors %}
      <form class="basic form-horizontal"
            action="{{ url_for('editor.templates_update', dataset=dataset.name) }}"
            method="POST">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="serp_title">{% trans %}Title Template{% endtrans %}</label>
            <div class="controls">
              <input class="input-xlarge span5" name="serp_title"
                     placeholder="{% raw %}{{to.label}} - {{amount}}{% endraw %}" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="serp_teaser">{% trans %}Teaser
              Template{% endtrans %}</label>
            <div class="controls">
              <textarea class="input-xlarge span5" rows="2"
                        name="serp_teaser"></textarea>
            </div>
          </div>
        </fieldset>
        <div class="form-actions">
          <input value="{% trans %}Update{% endtrans %}" class="btn btn-success" type="submit" />
        </div>
      </form>
      {% endformfill %}
    </div>
  </div>
{% endblock %}
