{% extends "base.html" %}

{% block page_title %}{% trans %}Badges in OpenSpending{% endtrans %}{% endblock %}

{% block content %}

<h2 class="page-header">{% trans %}Badges in OpenSpending{% endtrans %}</h2>

<div class="row">

  <div class="span8">
    <table class="table table-striped">
      <tr>
	        <th>
            {% trans %}Badge{% endtrans %}
          </th>
          <th>
            {% trans %}Label{% endtrans %}
          </th>
          <th>
            {% trans %}Description{% endtrans %}
          </th>
      </tr>
      {% for badge in badges %}
      <tr>
	      <td>
          <a href="{{ url_for('badge.information', id=badge.id) }}">
            <img src="{{ badge.image }}" alt="{{ badge.label }}" title="{{ badge.label }}">
          </a>
        </td>
	      <td>
          <a href="{{ url_for('badge.information', id=badge.id) }}">
            <em>{{ badge.label }}</em>
          </a>
        </td>
	      <td>{{ badge.description | markdown }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="span4">
    <p>{% trans %}These badges can be awarded to specific datasets by administrators of OpenSpending. The badges indicate that an official, either from <a href="http://okfn.org" title="Open Knowledge Foundation">The Open Knowledge Foundation</a> (OKF) or from another entity approved by the OKF, has carefully examined the dataset and decided to award it that particular badge.{% endtrans %}</p>

    {% if current_user.admin %}
    {% formfill form_fill with form_errors %}
    <form action="{{url_for('badge.create')}}" method="post" enctype="multipart/form-data">
      <fieldset>
	      <legend>
          {% trans %}Create a new badge{% endtrans %}
        </legend>

      	<div class="alert alert-warning">
      	  {% trans %}Keep in mind that badges <strong>lose their value</strong> if there
      	  are <strong>too many</strong> of them.{% endtrans %}
        </div>

	      <label for="badge-label">{% trans %}Label{% endtrans %}</label>
	      <input type="text" class="span4" name="label"
          placeholder="{% trans %}e.g. 'Cleaned by Shakespeare's typewriter crew'{% endtrans %}">

      	<label for="badge-description">{% trans %}Description{% endtrans %}</label>
      	<textarea class="span4" name="description"
          placeholder="{% trans %}e.g. 'Awarded to datasets cleaned by a team of highly skilled monkeys.'{% endtrans %}"></textarea>

      	<label for="badge-image">{% trans %}Representative image{% endtrans %}</label>
      	<input type="file" name="image">
	
      	<div>
      	  <button class="btn btn-success">{% trans %}Create badge{% endtrans %}</button>
      	</div>
      </fieldset>
    </form>
    {% endformfill %}
    {% endif %}
  </div>
</div>
{% endblock %}
