{% extends "base.html" %}
{% from "dataset/_nav.html" import dataset_nav as dataset_nav %}

{% block page_title %}
{% trans %}Create a visualisation{% endtrans %}
{% endblock %}

{% block scripts%}
  <!-- templates/dataset/explorer.html scripts -->
  <script type="text/javascript" src="{{ static_path('openspendingjs/lib/vendor/backbone.js') }}"></script>
  <script type="text/javascript" src="{{ static_path('openspendingjs/lib/widgets.js') }}"></script>
  <script type="text/javascript" src="{{ static_path('openspendingjs/app/bob/bob.js') }}"></script>

  <script type="text/javascript">
    var widgets = {{ widgets | tojson }};

    jQuery(function($) {
      window.app = new OpenSpending.Widgets.Editor({
        elem: $('#editor'),
        widgets: widgets,
        context: {
            dataset: '{{ dataset.name }}',
            siteUrl: '{{ site_url }}'
          }
      });
    });
  </script>
{% endblock %}

{% block content %}
  <!-- templates/dataset/explorer.html content -->
  {{ dataset_nav(dataset, can, legacy_views, 'views') }}

  <div id="editor" class="new-view">
  </div>

  <script id="widget-finalize" type="text/x-handlebars-template">
    <div class='row'>
      <div class='span6'>
        <form class='form-horizontal' method='POST' id='save-view'
          action="{{url_for('view.create', dataset=dataset.name)}}">

          <h3>{% trans %}Name your visualisation{% endtrans %}</h3>
          <p>
            {% trans %}You can store your visualisation with a name so that you can come back to it later and it will become visible to others.{% endtrans %}
          </p>
          {% if can_save %}
            <div class='control-group'>
              <label class='control-label' for='label'>{% trans %}Title{% endtrans %}:</label>
              <div class='controls'><input id='field-label' name='label' class='span3' /></div>
            </div>
            <div class='control-group'>
              <label class='control-label' for='description'>{% trans %}Description{% endtrans %}:</label>
              <div class='controls'><textarea name='description' class='span3'></textarea></div>
            </div>
            <div class="form-actions">
              <input value="{% trans %}Save{% endtrans %}" class="btn btn-success" id="form-save" type="submit" />
            </div>
            <input type='hidden' id='field-widget' name='widget' />
            <input type='hidden' id='field-state' name='state' />
          {% endif %}
          {% if not can_save %}
            <div class="alert alert-info span4">
              {% trans %}You need to be signed in to save a view.{% endtrans %}
            </div>
          {% endif %}
        </form>
      </div>
      <div class='span6' id='embedder'>
        <form class='form-horizontal'>
          <div class='row'>
            <h3>{% trans %}Embed in another website{% endtrans %}</h3>
            <p>
              {% trans %}If you don't save this visualisation, you can still copy and paste the embed code below, to embed the widget in another website, such as a blog or article.{% endtrans %}
            </p>
            <div class='span3'>
                <div class='control-group'>
                  <label class='control-label' for='width'>{% trans %}Width{% endtrans %}:</label>
                  <div class='controls'><input id='width' class='span1' value='700' /></div>
                </div>
                <div class='control-group'>
                  <label class='control-label' for='height'>{% trans %}Height{% endtrans %}:</label>
                  <div class='controls'><input id='height' class='span1' value='400' /></div>
                </div>
            </div>
            <div class='span3'>
                <textarea id='embedcode' class='xlarge' rows='4'></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </script>
{% endblock %}
