{% extends "base.html" %}

{% block page_title %}Login{% endblock %}

{% block content %}
<h2 class="page-header">OpenSpending is now in read-only mode.</h2>

<div class="row">
	<div class="span6">
	<p>
	First, thanks for being a part of the OpenSpending community. It's an exciting time to be involved with lots of changes to come!
	</p>
	<p>
	We're hard at work on OpenSpending Next. During this process, we are putting the old OpenSpending into read-only mode for up to two months. During this period, no new datasets will be able to be created on openspending.org. While we still want you to be able to access existing public datasets, we don't want to risk losing any new datasets created during the transition.
	</p>
	<p>
	One major motivation for this move is that users encountering the old OpenSpending site periodically run into issues when they try to import new datasets. Unfortunately, we don't have the resources to support and fix these issues on the old site while we build the new one, so we have decided to move to read-only mode so we can focus all our effort on making the new site great!
	</p>
	<p>
	If you would like to get involved in the development of OpenSpending Next, please visit <a href="http://community.openspending.org/get-involved/">our community site</a>.
	</p>
	<p>
	For more information or to give feedback, please visit <a href="https://discuss.okfn.org/t/openspending-org-moving-to-read-only-mode/1793">this post</a> on our discussion forum.
	</p>
	</div>

	<div class="span6">
	</span>
</div>

{% endblock %}




