{% extends "base.html" %}

{% block page_title %}{{dimension.label or dimension.name}}{% endblock %}
{% block page_desc %}{{dimension.description or dataset.description | markdown_preview }}{% endblock %}

{% from "dimension/_widgets.html" import widget_js with context %}
{% from "_util.html" import share_scripts as share_scripts %}
{% from "_util.html" import share_body as share_body %}

{% block scripts %}
    {{widget_js(dataset, 'widget', widget, widget_state, handles=True)}}
    {{share_scripts()}}
{% endblock %}

{% block content %}
  <div py:def="content">
    <ul class="breadcrumb">
      <div class="representations">
        <a href="{{url_for('dimension.view', dataset=dataset.name,
          dimension=dimension.name, format='json')}}">
          <img src="{{ static_path('img/icons/json.png') }}" alt="JSON"/>
      </div>
      <li>
        <i class="icon-home"></i>
        <a href="{{url_for('dataset.view', dataset=dataset.name)}}">
          {{dataset.label}}</a>
        <span class="divider">/</span>
      </li>
      <li class="active">
        {{dimension.label}}
      </li>
    </ul>
    <h2 class="page-header">
      {{dimension.label or dimension.name}}
    </h2>

    <div class="row">
      <div class='span12'>
        <div class="well widget-context">
          <div class="pull-right">
            <a href="#" class="btn btn-mini" id="widget-embed-link"><i class="icon-share"></i> {% trans %}Embed{% endtrans %}</a>
            <a href="#" class="btn btn-mini hidden" id="widget-edit-link"><i class="icon-cog"></i> {% trans %}Change{% endtrans %}</a>
            <a href="#" class="btn btn-mini hidden" id="widget-download-link"><i class="icon-download"></i> {% trans %}Data{% endtrans %}</a>
          </div>
          <p>{{dimension.description}} &nbsp;</p>
        </div>
      </div>
      <div class='span12'>
        <div id="widget" style="width: auto; height: auto"/>
      </div>
    </div>
    {{share_body()}}
  </div>

{% endblock %}
