{% extends "base.html" %}

{% block page_title %}{{ c.code }}{% endblock %}

{% block content %}
<h2 class="page-header">
  {% trans %}Access denied.{% endtrans %} <small>{% trans %}Error{% endtrans %} {{ c.code }}</small>
</h2>

<div class="alert-message block-message error">
  <strong>{{ c.message }}</strong>:
  {% if c.account %}
  <p>
    {% trans %}You may not have the relevant rights.{% endtrans %}
  </p>
  {% else %}
  <p>
    {% trans %}You may need to login.{% endtrans %}
  </p>
  {% endif %}
</div>
{% endblock %}
