<div class="search-form">
  <form action="?" method="get">
    <input class="search" name="q" value="${c.browser.q}" autocomplete="off" results="5" placeholder="Search..."/>
    <input type="submit" value="Search" />
    <div class="form-help">
      e.g. 'pensions', 'from:cabinet-office', 'to:capita'.
    </div>
    <!--
    <label for="dataset">Dataset</label>
    ${h.select('dataset', c.dataset_name, c.dataset_options)}
    <label for="facet_1">Breakdown by</label>
    ${h.select('facet_1', c.facet_1, c.facet_1_options)}
    -->
  </form>
</div>

