<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <py:def function="nav_class">nav-upload</py:def>

  <py:def function="page_title">Map your Dataset</py:def>

  <py:def function="optional_head">
  <style>
      .dry-run-results {
        margin-left: 20px;
        padding-left: 5px;
        border-left: solid 2px black;
      }

      .model-designer {
        display: none;
      }

      .dimension {
        clear: both;
      }

      .dimension table table {
        margin-top: 0.5em;
      }
      
      .dimension .basic td input,
      .dimension .basic td select,
      .dimension .basic td textarea {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
      
      .dimension .basic td textarea {
        max-height: 4em;
        width: 90%;
      }
      
      .dimension .basic td select {
        margin-top: 0.6em;
        margin-bottom: 0.4em;
      }

      .dimension .basic td label {
        margin-top: 0.8em;
      }

      #dim_proto, .elem_proto, .dimension-list-proto {
        display: none;
      }
      
      .dimension-taxonomy-box,
      .dimension-simple {
        display: none;
      }

      #dimensions-selector {
        /*padding-top: 2em;*/
      }
      
      #dimensions-selector ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }

      #dimensions-selector li {
        padding-top: 0.5em;
      }

      #dimensions-selector li a {
        display: block;
        width: 80%;
        padding: 0.2em;
        background-color: #eee;
        border: 1px solid #ddd;
      }

      #dimensions-selector li a:hover {
        text-decoration: none;
        background-color: #ddd;
      }
    </style>
    <script type="text/javascript" charset="utf-8">/*<![CDATA[*/
      $(function(){
          var models = ${h.to_json(c.models)};
          var required_dims = ["time", "from", "to", "amount"];
          elemDimension = function(e) {
            return $(e).parents(".dimension")[0];
          }

          $(".dimension-type").change(function(e) {
            value = $(e.target).val();
            dimension = elemDimension(e.target);
            if (value == 'classifier') {
              $(dimension).find(".dimension-taxonomy-box").slideDown();
            } else {
              $(dimension).find(".dimension-taxonomy-box").hide();
            }
            if (value == 'value') {
              $(dimension).find(".dimension-simple").slideDown();
              $(dimension).find(".dimension-composite").hide();
            } else {
              $(dimension).find(".dimension-simple").hide();
              $(dimension).find(".dimension-composite").slideDown();
            }
          });

          loadMapping = function(mapping) {
            $('#mapping').val(JSON.stringify(mapping, null, '\t'));
            $(".dimension[class='stable']").remove();
            $(".dimension-list-item").remove();
            for (name in mapping) {
              loadDimension(name, mapping[name]);
            }
          }

          loadDimension = function(name, description) {
            var dimElem = $("#dim_proto").clone(true);
            if (!name) {
              name = "dimension" + $(".dimension").length;
            }
            $(dimElem).attr("id", name);
            $(dimElem).find(".dimension-name").val(name);
            $(dimElem).find(".dimension-label").val(description.label);
            $(dimElem).find(".dimension-description").val(description.description);
            $(dimElem).find(".dimension-taxonomy").val(description.taxonomy);
            $(dimElem).find(".dimension-type").val(description.type);
            if(required_dims.indexOf(name)!=-1) {
              $(dimElem).find(".removeDimension").remove();
            }
            
            if (description.type == 'value') {
              $(dimElem).find(".dimension-datatype").val(description.datatype);
              $(dimElem).find(".dimension-column").val(description.column);
            } else {
              for (i in description.fields) {
                createDimElement(dimElem, description.fields[i]);
              }
            }

            var dimLi = $(".dimension-list-proto").clone(true);
            $(dimLi).removeClass("dimension-list-proto");
            $(dimLi).addClass("dimension-list-item");
            $(dimLi).find("a").text((description.label!=undefined) ? description.label : name);
            $(dimLi).find("a").attr('href', name);
            $(dimLi).insertBefore(".dimension-list-proto");
            $(dimElem).insertBefore("#dimension-insert-point");
            $(dimElem).removeClass("stable");
            selectDimension(name);
            $(dimElem).find(".dimension-type").change();
          }

          selectDimension = function(name) {
            $(".dimension").hide();
            $("#" + name).fadeIn();
          }

          $(".dimension-link").click(function(e) {
              var name = $(e.target).attr('href');
              selectDimension(name);
              return false;
          });
          
          $(".dimension-label").change(function(e) {
              $("a[href='" + $(elemDimension(e.target)).attr('id') +
                "']").text($(e.target).val());
          });


          $("#createDimension").click(function() {
              loadDimension(undefined, {});
              return false;
          });

          $(".removeDimension").click(function(e) {
              $("a[href='" + $(elemDimension(e.target)).attr('id') +
                "']").parents("li").remove();
              $(elemDimension(e.target)).remove();
              return false; 
          });

          createDimElement = function(dimension, element) {
            var elemElem = $(dimension).find(".elem_proto").clone(true);
            var elemID = $(dimension).find(".element").children().length;
            var elemPrefix = "fields." + elemID + ".";
            $(elemElem).find(".element-name").attr("name", elemPrefix + "name");
            
            var options = [];
            $(elemElem).find(".element-name option").each(function(e, opt) {
                options.push($(opt).attr('value')); });
            if (options.indexOf(element.name) == -1) {
              $(elemElem).find(".element-name").val('__other__').change();
            }
            
            $(elemElem).find(".element-name").val(element.name);
            $(elemElem).find(".element-column").attr("name", elemPrefix + "column");
            $(elemElem).find(".element-column").val(element.column);
            $(elemElem).find(".element-constant").attr("name", elemPrefix + "constant");
            $(elemElem).find(".element-constant").val(element.constant);
            $(elemElem).find(".element-datatype").attr("name", elemPrefix + "datatype");
            $(elemElem).find(".element-datatype").val(element.datatype);
            $(elemElem).removeClass("elem_proto");
            $(dimension).find(".elements").append(elemElem);
            $(elemElem).find(".element-datatype").change();
          }
          
          $(".createElement").click(function(e) {
              createDimElement(elemDimension(e.target), {});
              return false;
          });
          
          removeElement = function(e) {
              $($(e).parents(".element")).remove();
              return false;
          }

          $(".element-name").change(function(e) {
            if ($(e.target).val() == '__other__') {
              var parent = $(e.target).parent();
              var name = $(e.target).attr('name');
              $(parent).append("<input class='element-name' name='" + name + "' />");
              $(e.target).remove();
            }
          });
          
          $(".element-datatype").change(function(e) {
            var element = $(e.target).parents(".element");
            if ($(e.target).val() == 'constant') {
              $(element).find(".element-column").hide();
              $(element).find(".element-column").val("");
              $(element).find(".element-constant").show();
            } else {
              $(element).find(".element-constant").hide();
              $(element).find(".element-constant").val("");
              $(element).find(".element-column").show();
            }
          });

          serializeMapping = function() {
            var mapping = new Object();
            $(".dimension form").each(function(i, dim) {
                res = serializeDimension(dim);
                if (res) {
                  mapping[res[0]] = res[1];
                }
            });
            return mapping;
          }

          serializeDimension = function(form) {
            var serialized = {};
            $.map($(form).serializeArray(), function(n, i){
              serialized[n['name']] = n['value'];
            });
            var fields = new Array(); 
            for (k in serialized) {
              kp = k.split('.');
              if (kp[0] == "fields") {
                if (fields[kp[1]] == undefined) {
                  fields[kp[1]] = new Object();
                }
                fields[kp[1]][kp[2]] = serialized[k];
                delete serialized[k]; 
              }
            }
            if (fields.length > 0) {
              serialized['fields'] = $.map(fields, 
                  function(e) {return e;});
            }
            var name = serialized.name;
            if (serialized.type != 'value') {
              delete serialized['datatype'];
              delete serialized['column'];
            }
            if (serialized.type != 'classifier') {
              delete serialized['taxonomy'];
            }
            if (name != "") {
              delete serialized['name'];
              return [name, serialized];
            }
          }

          saveMapping = function(import_now) {
            var mapping = serializeMapping();
            $.post("${ h.url_for(controller='sources', 
              action='mapping_form', 
              package=c.package.get('name'), 
              resource=c.resource.get('id')) }", 
              JSON.stringify(mapping), 
              function(e) {
                if (import_now) {
                  document.location.href = e.url;
                }
              }, 'json')
          }
          
          $("#saveMapping").click(function(e) {
            saveMapping(false);
          });

          $("#importMapping").click(function(e) {
            saveMapping(true);
          });

          $.each(models, function(index, model) {
              $("#model-select").append("<option value='" + index + "'>" +
                model.name + "</option>");
          });
          $("#model-select").change(function(e) {
            loadMapping(models[$(e.target).val()].model.mapping);
          });

          // $("#model-select").val(models.length-1);
          // $("#model-select").change();
      });
      /*]]>*/</script>
  </py:def>

  <div py:def="content">
    <h2>Dataset Modeling: ${c.dataset.label}</h2>
    Model revision: <select id="model-select"></select>
    <div class="clearfix"></div>
    <br/>

    <form action="" method="GET">
      <button>Generate Mapping JSON from Gdocs Mapping Spreadsheet</button>
      <input type="text" name="mapping_csv" />
    </form>
    <hr />

    <div py:if="hasattr(c, 'dry_run_results') and c.dry_run_results"
      class="dry-run-results">
      <h3>Results of Test Load</h3>
      <p py:for="msg in c.dry_run_results">
        ${msg}
      </p>
    </div>

    <form action="" method="POST">
      <label for="mapping">Mapping</label>
      <br />
      <textarea id="mapping" name="mapping">${c.mapping}</textarea>
      <br />
      <button class="validate" name="validate">Validate Mapping</button>
      <button class="save" name="save">Save Mapping</button>
      <button class="dryrun" name="dryrun">Dry Run (Test Load)</button>
      <py:if test="h.have_role('admin')">
      <button class="load" name="load">Load Data</button>
      </py:if>
      <br />
      <py:if test="not h.have_role('admin')">
        To do the final load you need to be and admin
      </py:if>
    </form>

    <div class="model-designer">

    <div id="dimensions-selector" class="span-6">
      <strong>(a)</strong>
      Select a dimension: 
      <ul id="dimension-list">
        <li class="dimension-list-proto"><strong><a class="dimension-link" href="#"></a></strong></li>
        <li><a href="#" id="createDimension">Add a dimension</a></li>
        <br/>
        <li><a class="dimension-link" href="samples__" id="">See sample data</a></li>
        <li><a href="#" id="saveMapping">Save</a></li>
        <li py:if="h.have_role('admin')">
          <a href="#" id="importMapping">Load data now</a>
        </li>
      </ul>
    </div>

    <div id="dimensions" class="span-17 last">
      <div class="dimension stable" id="samples__">
        <h3>Source Data Samples</h3>
        <table>
          <tr py:for="column in c.columns">
            <th>${column}</th>
            <td py:for="cell in c.samples[column]">${cell}</td>
          </tr>
        </table>
      </div>
      <div class="clearfix" id="dimension-insert-point"></div>
      <div id="dim_proto" class="dimension stable"><form class="basic">
        <strong>(b)</strong>
        Explain how it is derived from the source data:
        <table>
          <tr>
            <td>
              <label>Title</label>
            </td>
            <td>
              <input name="label" class="dimension-label" />
            </td>
            <td>
              <label>Key</label> 
            </td>
            <td>
              <input name="name" class="dimension-name" />
            </td>
          </tr>
          <tr>
            <td>
              <label>Type</label>
            </td>
            <td>
              <select name="type" class="dimension-type">
                <option value="value">Simple Value</option>
                <option value="classifier">Classifier</option>
                <option value="entity">Entity</option>
              </select>
            </td>
            <td>
              <div class="dimension-taxonomy-box">
                <label>Taxonomy</label>
             </div>
            </td>
            <td>
              <div class="dimension-taxonomy-box">
                <input name="taxonomy" class="dimension-taxonomy" />
             </div>
            </td>
          </tr>
          <tr class="dimension-simple">
            <td>
              <label>Column</label>
            </td>
            <td>
              <select name="column" class="dimension-column">
                <option py:for="column in c.columns"
                  value="${column}">${column}</option>
              </select>
            </td>
            <td>
              <label>Type</label>
            </td>
            <td>
              <select name="datatype" class="dimension-datatype">
                <option value="string">Text</option>
                <option value="float">Number</option>
                <option value="date">Date</option>
                <option value="id">ID</option>
              </select>
            </td>
          </tr>
          <tr style="display: none;"></tr>
          <tr class="dimension-composite">
            <td>
              <label>Elements</label>
            </td>
            <td colspan="3">
              <table class="elements">
                <tr>
                  <th>Property</th>
                  <th>Source Column</th>
                  <th>Type</th>
                  <th></th>
                </tr>
                <tr class="elem_proto element">
                  <td>
                    <select class="element-name">
                      <option value="name">Identifier</option>
                      <option value="label">Title</option>
                      <option value="description">Description</option>
                      <option value="color">Color</option>
                      <option value="__other__">(other)</option>
                    </select>
                    <!--input class="element-name" /-->
                  </td>
                  <td>
                    <select class="element-column">
                      <option py:for="column in c.columns"
                          value="${column}">${column}</option>
                    </select>
                    <input class="element-constant" />
                  </td>
                  <td>
                    <select class="element-datatype">
                      <option value="string">Text</option>
                      <option value="float">Number</option>
                      <option value="date">Date</option>
                      <option value="id">ID</option>
                      <option value="constant">Constant</option>
                    </select>
                  </td>
                  <td>
                    <a href="#" onClick="removeElement(this); return false;">x</a>
                  </td>
                </tr>
              </table>
              <a href="#" class="clearfix createElement">Add an element</a>

            </td>
          </tr>
          <tr>
            <td>
              <label>Description</label>
            </td>
            <td colspan="3">
              <textarea name="description" class="dimension-description"></textarea>
            </td>
          </tr>
        </table>
        
             <a href="#" class="clearfix removeDimension">Remove this dimension</a>
    </form></div>
    </div><!-- / model-designer -->
    
    </div>
  </div>

  <xi:include href="../layout.html" />
</html>



