<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <py:def function="nav_class">nav-upload</py:def>

  <py:def function="page_title">Your Dataset is being processed...</py:def>
  
  <div py:def="content">

    <h2>Processing of Dataset complete</h2>


        <div class="error">
            <p>Your dataset may have contained errors. Please review
            the errors and resubmit the corrected dataset file.</p>
            <table>
            <caption>Import Errors</caption>
            <thead>
              <tr>
                <th>Line number</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
            <py:for each="error in c.result[2]">
            <tr>
              <td>${error.line_number}</td>
              <td>${error.message}</td>
            </tr>
            </py:for>
            </tbody>
          </table>
        </div>

  </div>

  <xi:include href="../layout.html" />
</html>

