<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <py:def function="nav_class">nav-upload</py:def>

  <py:def function="page_title">Your Dataset is being processed...</py:def>

  <py:if test="not c.result.ready()">
    <py:def function="optional_head">
      <meta http-equiv="refresh" content="10" />
    </py:def>
  </py:if>
  
  <div py:def="content">
    <py:if test="not c.result.ready()">
      <h2>We are currently processing your Dataset...</h2>
      <p>Please wait while we process your dataset. This page will
      automatically refresh every 10 seconds.</p>
      <script type="text/javascript">
        window.setTimeout(function(){document.location.reload();}, 10000);
      </script>
    </py:if>
    <py:if test="c.result.failed()">
      <h2>Processing of Dataset failed</h2>
      <p>The following error occured:</p>
      <pre>${str(c.result.result)}</pre>
      <p>Please report this error together with this Task ID
      <em>${c.result.task_id}</em> to info@openspending.org</p>
    </py:if>
    <py:if test="c.result.successful()">
    <h2>Processing of Dataset complete</h2>
    <py:if test="c.result.result[0]">
      <py:if test="c.operation == 'load'">
      <p>Your dataset has been loaded. It is now available at:
        <a href="${h.dataset_url(c.result.result[1])}">${c.result.result[1].label}</a>.</p>
      </py:if>

      </py:if>
        <div class="error" py:if="len(c.result.result) > 2">
            <p>Your dataset contained errors. Please review the errors and
            resubmit the corrected dataset file.</p>
            <table>
            <caption>Import Errors</caption>
            <thead>
              <tr>
                <th>Line number</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
            <py:for each="error in c.result.result[2]">
            <tr>
              <td>${error.line_number}</td>
              <td>${error.message}</td>
            </tr>
            </py:for>
            </tbody>
          </table>
        </div>
    </py:if>
  </div>

  <xi:include href="../layout.html" />
</html>

