<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <py:def function="nav_class">nav-account</py:def>

  <py:def function="page_title" i18n:msg="name">Dashboard</py:def>

  <div py:def="content">
    <h2 class="page-header">Welcome back
      <small>${c.account.fullname}</small>
    </h2>
    
    <div class="row">
      <div class="span6">
        <py:if test="len(c.account_datasets)">
          <h3>Your Datasets</h3>
          <ul>
            <li py:for="dataset in c.account_datasets">
              <a href="${url(controller='dataset', 
                action='view', dataset=dataset.name)}">${dataset.label}</a>
            </li>
          </ul>
        </py:if>
      </div>
      <div class="span6">
        <py:if test="len(c.account_views)">
          <h3>Your Visualizations</h3>
          <ul>
            <li py:for="view in c.account_views">
              <a href="${url(controller='view', 
                action='view', dataset=view.dataset.name, name=view.name)}">${view.label}</a> 
              on <a href="${url(controller='dataset', 
                action='view', dataset=view.dataset.name)}">${view.dataset.label}</a>
            </li>
          </ul>
        </py:if>
      </div>
    </div>

  <a href="/datasets/new" class="btn btn-large btn-primary">Import a
  Dataset</a>
  </div>

  <xi:include href="../layout.html" />
</html>
