<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <py:def function="nav_class">nav-account</py:def>

  <py:def function="page_title" i18n:msg="name">Settings for: ${c.account['name']}</py:def>

  <div py:def="content">
    <h2 class="page-header">Account Settings
      <small>${c.account.fullname}</small>
    </h2>

    <div class="row">
      <div class="offset2 span10">
        <form class="basic settings form-horizontal" id="settings" action="/settings" method="POST">
          <div class="control-group">
            <label for="fullname">Fullname</label>
            <div class="controls">
              <input name="fullname" />
            </div>
          </div>
          <div class="control-group">
            <label for="email">E-Mail</label>
            <div class="controls">
              <input name="email" />
            </div>
          </div>
          <div class="control-group">
            <label for="password1">Password</label>
            <div class="controls">
              <input name="password1" type="password" autocomplete="off" />
            </div>
          </div>
          <div class="control-group">
            <label for="password2">Password (repeat)</label>
            <div class="controls">
              <input name="password2" type="password" autocomplete="off" />
              <p class="help-block">Leave both fields blank to keep
                your current password.</p>
            </div>
          </div>
          <div class="control-group">
            <label for="api_key">API Key</label>
            <div class="controls">
              <span class="uneditable-input" style="width: 25em;">${c.account.api_key}</span>
              <p class="help-block">Use this key to access the OpenSpending
                API programmatically.</p>
            </div>
          </div>
          <div class="control-group">
            <label for="script_root">Script Location</label>
            <div class="controls">
              <input name="script_root" />
             <p class="help-block">Set a different location for JavaScript imports to develop
              new widgets.</p>
            </div>
          </div>
          
          <div class="form-actions">
            <input value="Save" type="submit" class="btn btn-primary" />
          </div>
        </form>
      </div>
    </div>

  </div>

  <xi:include href="../layout.html" />
</html>
