<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <py:def function="nav_class">nav-dataset</py:def>

  <py:def function="optional_head">
  <style>
    #treemap {
      width: auto;
      height: 336px;
    }
  </style>
  </py:def>

 <py:def function="page_title">Welcome</py:def>
 <div py:def="content">
   <div id="above-fold">
      <div py:if="c.dataset" id='centerpiece' class="span-18">
        <h2>Featured Dataset: ${c.dataset['label']}</h2>
        <div class="span-18" id="vis"></div>
      </div>

      <div class="span-6 last calltoaction-box">
        <div>
          <h3>Explore</h3>
          <p i18n:msg="select, search">
          <a href="${h.url(controller='dataset', action='index')}">Select a dataset</a> to explore or <a href="${h.url(controller='dataset', action='index')}">search</a> all financial records in our database.
          </p>
        </div>
        <div>
          <h3>Investigate</h3>
          <p i18n:msg="getthedata">
          Do you have spending questions? Ask and help to answer them on
          <a href="http://getthedata.org">GetTheData.org</a> and join our
          <a
            href="http://lists.okfn.org/mailman/listinfo/wdmmg-discuss">discussion
            list</a>.
          </p>
        </div>
        <div>
          <h3>Contribute</h3>
          <p i18n:msg="wiki">
            Is your country, state or city not on OpenSpending yet? We're
            looking for spending data from all over the world. Learn about
            data imports in <a href="http://wiki.openspending.org/Main_Page">our wiki</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="span-18 dataset-listing">
      <h3>Other Available Datasets</h3>
      <ul class="dataset-list">
        <li py:for="dataset in c.datasets">
          <h4><a href="${h.dataset_url(dataset)}">${dataset.label}</a></h4>
          ${h.markdown(h.truncate(Markup(dataset.description).striptags(), 80, whole_word=True))}
        </li>
      </ul>
   </div>
    <div class="span-6 last">
      <h3>What is OpenSpending?</h3>
      <p>
      Our aim is to track every (public) government and corporate financial
      transaction across the world and present it in useful and engaging forms
      for everyone from a school-child to a data geek.
      </p>
      <p>
      We're an open community that anyone is invited to join! We're looking for
      researchers, coders and citizen activists to join us and to help gather
      and understand financial data.
      </p>
    </div>
  </div>

  <xi:include href="../layout.html" />
</html>

