<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <py:def function="nav_class">nav-dataset</py:def>


  <py:def function="scripts">
    ${script_tag('lib/vendor/raphael-min')}
    ${script_tag('lib/vendor/raphael-min')}
    ${script_tag('lib/vendor/kartograph/kartograph.min')}
    ${script_tag('lib/vendor/chroma.pack.min')}
    ${script_tag('app/spending-map/load')}
  </py:def>

  <py:def function="page_title">Welcome</py:def>
  <div py:def="content">
    <div class="row">&nbsp;</div>
    <div class="row">
      <div id="fp-wrap" class="span12">
		  <div id="fp-map">

		  </div>
		  <div id="fp-blurb">
        <span id="fp-claim">Mapping the money.</span>
        <p>Our aim is to track every government financial transaction 
        across the world and present it in useful and engaging forms for everyone
        from a school-child to a data geek.</p>
		  </div>
	  </div>
  </div>

  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="span8">
      <form action="${url(controller='entry', action='search')}"
            method="GET" class="well" id="fp-search">
        <input name="q" class="span7" placeholder="Search government spending across ${c.datasets.count()} datasets..." />
        <input type="submit" class="btn" value="Search" />
      </form>
      ${h.literal(c.blog.html)}
    </div>
    <div class="span4">
      <ul class="nav nav-list">
        <li class="nav-header">Getting started</li>
        <li><a href="/help/index.html">What can I do here?</a></li>
        <li><a href="/about/faq.html">FAQ</a></li>
        <li><a href="/datasets">Browse datasets</a></li>


        <li class="nav-header">The project</li>
        <li><a href="/blog/index.html">Spending Blog</a></li>
        <li><a href="/about/portfolio.html">Projects Portfolio</a></li>
        <li><a href="http://lists.okfn.org/mailman/listinfo/openspending">Mailing List</a></li>
        <li><a href="/about/contribute.html">Contribute</a></li>

      </ul>
      
      <div class="social-links" style="padding-left: 1em;">
        <a href="http://twitter.com/openspending"><img src="/blog/images/blog_twitter.png" /></a>
        <a href="/blog/atom.xml"><img src="/blog/images/blog_feed.png" /></a>
      </div>

    </div>
  </div>
  <div class="row">&nbsp;</div>

</div>

  <xi:include href="../layout.html" />
</html>

