<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <py:def function="nav_class">nav-dataset</py:def>


  <py:def function="scripts">
    <script type="text/javascript" src="/static/js/vendor/jquery.js"></script>
  	<script type="text/javascript" src="/static/js/vendor/raphael-min.js"></script>
	  <script type="text/javascript" src="/static/js/vendor/kartograph/kartograph.min.js"></script>
  	<script type="text/javascript" src="/static/js/vendor/chroma.pack.min.js"></script>
  	<script type="text/javascript" src="/static/app/spending-map/load.js"></script>
  </py:def>


  <py:def function="page_title">Welcome</py:def>
  <div py:def="content">
    <div class="alert alert-info block-message info" i18n:msg="">
      Do you want to help map government finance from all around the globe?
      <a href="/getinvolved">Get involved</a> in Open Spending!
    </div>

    <div class="row">
      <div id="fp-wrap" class="span12">
		  <div id="fp-map">

		  </div>
		  <div id="fp-blurb">
        <p>Our aim is to track every government and corporate financial transaction 
        across the world and present it in useful and engaging forms for everyone
        from a school-child to a data geek.</p>

        <p>We're an open community that anyone is invited to join! We're looking for
        researchers, coders and citizen activists to join us and to help gather and
        understand financial data.</p>
		  </div>
	  </div>
  </div>

  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="span4">
      <h3>Explore</h3>
      <p i18n:msg="select, search">
        OpenSpending presents financial information <strong>from many
        different countries</strong> and sources.
        <a href="${h.url(controller='dataset', action='index')}">Choose a
          dataset</a> to explore or visit our
          <a href="${g.blog_link}">Spending Blog</a>, where we highlight
          spending stories and methods of analyzing the information.
      </p>
    </div>
    <div class="span4">
      <h3>Investigate</h3>
      <p i18n:msg="getthedata">
      Do you have spending questions? Ask and help to answer them on
      our <a href="http://lists.okfn.org/mailman/listinfo/openspending">discussion 
        list</a>. When you've found interesting information in the data,
      become a contributor to the 
      <a href="${g.blog_link}">Spending Blog</a> to share your findings.
      </p>
    </div>
    <div class="span4">
      <h3>Contribute</h3>
      <p i18n:msg="wiki">
        Is your country, state or city not on OpenSpending yet? We're
        looking for spending data from all over the world. <a
          href="${h.url(controller='dataset', action='cta')}">Import a
          dataset</a> from your country or local community to visualize 
        and explore government expenditure.
      </p>
    </div>
  </div>
  <div class="row">&nbsp;</div>

</div>

  <xi:include href="../layout.html" />
</html>

