<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <py:def xml:lang="en" function="nav_class">nav-home</py:def>
  <py:def function="page_title">${c.code}</py:def>

  <div py:def="content" id="innercontent">
    <h2 class="page-header">Something went wrong 
      <small>Internal Server Error</small>
    </h2>
    <div class="alert-message block-message error">
      <strong>${c.message}</strong>:
      Sorry, there seems to be an internal problem in OpenSpending.
      The problem has now been reported and we're on it.
    </div>
  </div>

  <xi:include href="layout.html" />

</html>
 
