<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  py:strip="">

<!-- templates/_browser.html -->
<div class="row">
  <div class="span9">
    <table
      id="os_datatable"
      class="table table-striped table-condensed"
      cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th data-field='time'>Time</th>
          <th data-field='from'>Spender</th>
          <th data-field='to'>Recipient</th>
          <th data-field='amount'>Amount</th>
          <th class='entry_link'>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="dataTables_empty" i18n:msg="loading_data" colspan="5">
            Loading data from server&hellip;
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="span3">
    <py:for each="dim in c.facet_dimensions">
      <h4>${dim.label}</h4>
      <table class="table table-condensed facets">
        <tbody>
          <tr py:for="value, count in c.facets[dim.name]">
            <td width="5%" class="count num">${count}</td>
            <td>
              <a class="filter"
                 data-key="${dim.name}"
                 data-value="${value['name'] if dim.is_compound else value}"
                 href="#">
                ${value['label'] if dim.is_compound else value}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </py:for>
  </div>
</div>

</html>
