<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  py:strip="">

<!-- templates/_browser.html -->

<div class="row"> 
  <div class="span9">
    <div class="search-form">
      <form action="?" method="get">
        <input class="search" name="q" value="${c.browser.q}" autocomplete="off" results="5" placeholder="Search..."/>
        <input type="submit" class="btn default" value="Search" />

        <!--div class="form-options">
        </div>
        <div class="form-help" i18n:msg="more_help">
          e.g. 'pensions', 'from:cabinet-office', 'to:capita'.
        </div-->
      </form>
    </div>
  </div>

  <div class="span3">
    <div class="num-entries">
      <span py:if="c.browser.num_results">
        <div style="text-align: right;">
          <py:if test="c.browser.url">
            <a href="${c.browser.url}.json">
              <img src="${h.static('img/icons/json.png')}" alt="JSON" xml:lang="en" /></a>
            <a href="${c.browser.url}.csv">
              <img src="${h.static('img/icons/csv.png')}" alt="CSV" xml:lang="en" /></a>
          </py:if>
        </div>
        <ul>
          <li i18n:msg="entries"><b>${c.browser.num_results} entries</b> found.</li>
          <!--li>
            Total:
            ${h.format_number_with_commas(c.browser.stats.get('sum'))}
          </li>
          <li>
            Mean:
            ${h.format_number_with_commas(c.browser.stats.get('mean'))}
          </li>
          <li>
            Std Deviation:
            ${h.format_number_with_commas(c.browser.stats.get('stddev'))}
            </li-->
        </ul>
      </span>
      <span py:if="c.browser.num_results==0">
        <b>No entries with this property.</b>
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="span9">
    <xi:include href="_timegraph.html" />
    ${entries_page(c.dataset, c.browser.page)}
  </div>
  <div class="span3">
    <py:for each="facet in c.browser.facets"
    py:with="values = len(c.browser.facet_values(facet));
    filter = 'filter-%s' % facet">
      <h4>${c.browser.facet_name(facet)}</h4>
      <div class="clearfix"></div>
      <table class="table table-condensed facets" py:if="values>0 and not (filter in request.params)">
        <tbody>
          <tr py:for="value, count in
            sorted(c.browser.facet_values(facet).items(), key=lambda (k,v): v*-1)">
            <td width="5%" class="count num">${count}</td>
            <td>
              <a href="${c.browser.state_url(add=(filter, value),
                remove=('page', c.browser.page_number))}">${value}</a>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="facets condensed-table" 
        py:if="values==1 and filter in request.params"
        py:with="value = c.browser.facet_values(facet).items()[0][0]">
        <tbody py:if="(facet, value) in c.browser.filters">
          <tr>
            <td width="5%" class="count"
            i18n:comment="Label for active filters on the dataset 'Search' page">
              filter:
            </td>
            <td>
              <b>
                <a class="unfilter" href="${c.browser.state_url(remove=(filter, value))}">${value}</a>
              </b>
            </td>
          </tr>
        </tbody>
      </table>
    </py:for>
  </div>
</div>

</html>


