<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

<!-- templates/_facet_bar.html -->

  <div class="section-chartlist">
    <ul class="chartlist">
      <py:for each="k,v in sorted(c.facet_counts.items(), key=lambda (k,v): v, reverse=True)" py:with="divisor = float(max(c.facet_counts.values()))">
        <li>
          <a href="#">${k}</a>
          <span class="count">${v}</span>
          <span class="index" style="width: ${100*v/divisor}%">${v/divisor}</span>
        </li>
      </py:for>
    </ul>
    <div style="clear: both"></div>
  </div>
</html>


