<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <py:if test="c.browser.q and c.browser.num_results and hasattr(c, 'amount')">
    <script type="text/javascript" src="${h.static('/js/qtip.js')}">//pointless jscript comment</script>
    <!--[if IE]><script language="javascript" type="text/javascript" src="http://assets.okfn.org/ext/flot/0.6/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="http://assets.okfn.org/ext/flot/0.6/jquery.flot.min.js">//pointless jscript comment</script>
    <script type="text/javascript" src="${h.static('js/timegraph.js')}">//pointless jscript comment</script>

    <div id="timegraph" style="width:98%; height:200px"></div>
    <script type="text/javascript">
      var options = {
          xaxis: {
            mode: "time",
            timeformat: "%y-%b"
          },
          yaxis: {
            tickFormatter: suffixFormatter
          },
          legend: {
            position: "nw",
          },
          colors: ["#607890"],
          grid: { hoverable: true, clickable: true }
      };
      var data = [
        {
          points: {
            show: true
            },
          lines: {
            show: false,
            fill: 0
            },
          bars: {
            show: true
          },
        data: [ 
        <py:for each="timestamp,amount in c.amounts">
          [ new Date('${timestamp}'), ${amount} ],
        </py:for>
        ]}
      ];
      $.plot($("#timegraph"), data, options);
    </script>
  </py:if>
</html>

