<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <!--! Herein can be found generic helper methods for a whole bunch of common
        templating issues -->

  <py:def function="script_tag(name)">
    <script src="${'%s/%s.js' % (g.script_root, name)}"></script>
  </py:def>

  <py:def function="style_tag(name)">
    <link rel="stylesheet" href="${'%s/%s.css' % (g.script_root, name)}" />
  </py:def>

  <span py:def="currency_symbols(currency)">
    <py:if test="">&ndash;</py:if>
  </span>

  <py:def function="analytics()">
    <script type="text/javascript" py:if="not g.debug">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8271754-17']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </py:def>  

  <py:def function="share_scripts()">
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "ur-74a5b4dd-616a-419a-ba12-b7e5e84e437"}); </script>
  </py:def>

  <py:def function="share_body()">
    <div class="row">
      <div class="span12">
        <span class='st_twitter_hcount' displayText='Tweet'></span>
        <span class='st_facebook_hcount' displayText='Facebook'></span>
        <span class='st_plusone_hcount' displayText='Google +1'></span>
        <span class='st_delicious_hcount' displayText='Delicious'></span>
        <span class='st_email_hcount' displayText='Email'></span>
      </div>
    </div>
  </py:def>

  <div py:def="entries_page(dataset, page)">
    <!-- templates/_util.html entries_page -->
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Time</th>
          <th>Spender</th>
          <th>Recipient</th>
          <th class="num">Amount</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="entry in page">
          <td width="12%">${entry.get('time').get('name')}</td>
          <td>
            <a py:if="entry.get('from')"
              href="${h.url_for(controller='dimension', action='member',
              dataset=dataset.name, dimension='from',
              name=entry.get('from', {}).get('name'))}">${entry.get('from',
              {}).get('label')}</a></td>
          <td>
            <a py:if="entry.get('to')" 
              href="${h.url_for(controller='dimension', action='member',
              dataset=dataset.name, dimension='to',
              name=entry.get('to', {}).get('name'))}">${entry.get('to', {}).get('label')}</a></td>
          <td class="num">
            ${h.format_number_with_commas(
                entry.get('amount'))}
            ${entry.get('currency')}
          </td>
          <td>
            <a href="${h.entry_url(dataset.name, entry)}"
           i18n:comment="Link to entry details (please leave arrow intact)">
              details&raquo;
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    ${page.pager()}
  </div>

  <div py:def="view_times()" class="view-panel last" py:strip="True">
    <!-- templates/_util.html view_times -->
    <li py:if="c.view" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">${c.time} <b class="caret"></b></a>
      <ul class="dropdown-menu times">
        <py:for each="time in c.times">
          <li py:if="c.time != time">
            <a href="?_view=${c.viewstate.view.name}&amp;_time=${time}">${time}</a>
          </li>
        </py:for>
      </ul>
    </li>
  </div>
</html>

