<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <!--! Herein can be found generic helper methods for a whole bunch of common
        templating issues -->

  <py:def function="script_tag(name)">
    <script type="text/javascript" src="${'%s/%s.js' % (h.script_root(), name)}"></script>
  </py:def>

  <py:def function="style_tag(name)">
    <link rel="stylesheet" href="${'%s/%s.css' % (h.script_root(), name)}" />
  </py:def>

  <py:def function="script_boot()">
    <!-- script boot section -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    ${script_tag('prod/boot')}
    <script defer="defer">
      OpenSpending.scriptRoot = "${h.script_root()}";
      OpenSpending.localeGroupSeparator = "${c.locale.number_symbols.get('group')}";
      OpenSpending.localeDecimalSeparator = "${c.locale.number_symbols.get('decimal')}";
    </script>
    <!-- end script boot section -->
  </py:def>

  <py:def function="analytics()">
    <script type="text/javascript" defer="defer" py:if="not g.debug">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8271754-17']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </py:def>  

  <py:def function="share_scripts()" py:if="not g.debug">
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript" defer="defer">stLight.options({publisher: "ur-74a5b4dd-616a-419a-ba12-b7e5e84e437"}); </script>
  </py:def>

  <py:def function="share_body()" py:if="not g.debug">
    <div class="row">
      <div class="span12">
        <span class='st_twitter_hcount' displayText='Tweet'></span>
        <span class='st_facebook_hcount' displayText='Facebook'></span>
        <span class='st_plusone_hcount' displayText='Google +1'></span>
      </div>
    </div>
  </py:def>

</html>

