<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  >

  <xi:include href="_util.html" />

  <!-- templates/layout.html top -->

  <py:if test="len(_form_errors)">
    <div py:match="input|select|textarea" py:strip="" py:with="error = _form_errors.get(str(select('@name')))">
      ${select('.')}
      <py:if test="error">
        <p class="help-block error" py:content="error"></p>
      </py:if>
    </div>
  </py:if>

  <head>
    <meta charset="utf-8" />
    <title>${page_title()} - ${g.site_title}</title>
    <meta name="description" content="We're enabling anyone to explore,
    visualize and track government spending." />
    <meta name="author" content="Open Knowledge Foundation" />
    <link rel="shortcut icon" href="${h.static('img/favicon.ico')}" type="image/x-icon" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="${h.static('style/bootstrap.css')}" rel="stylesheet" />
    <link href="${h.static('style/style.css')}" rel="stylesheet" />

    <py:if test="defined('optional_head')">
      ${optional_head()}
    </py:if>
  </head>

  <!-- templates/layout.html body -->

  <body>

    <div class="navbar navbar-fixed-top" data-dropdown="dropdown">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/" xml:lang="en"><span class="green">Open</span>Spending</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="${g.blog_link}">Spending Blog</a></li>
              <li class="dropdown">
                <a href="/datasets" class="dropdown-toggle">Datasets</a>
                <ul class="dropdown-menu">
                  <li py:for="dataset in c.datasets.limit(15)">
                    <a href="${h.dataset_url(dataset)}">${dataset.label}</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="${h.url_for(controller='dataset',
                    action='index')}" i18n:msg="count">All datasets (${c.datasets.count()})...</a></li>
                  <py:if test="can.dataset.create()">
                    <li><a href="${h.url_for(controller='dataset',
                      action='new')}">Import a dataset...</a></li>
                  </py:if>
                  <py:if test="not can.dataset.create()">
                    <li><a href="${h.url_for(controller='dataset',
                      action='cta')}">Import a dataset...</a></li>
                  </py:if>
                </ul>
              </li>
              <li><a href="http://wiki.openspending.org/">About</a></li>
              <li><a href="${h.url(controller='help', action='page', path='contact.html')}">Contact</a></li>
            </ul>
          </div>
          <ul class="nav pull-right">
            <li py:if="c.account is None">
              <a href="/login">Login/Register</a>
            </li>
            <py:if test="c.account is not None">
              <li><a href="/settings">Settings</a></li>
              <li><a href="/logout">Logout</a></li>
            </py:if>
            <li class="dropdown">
              <a class="dropdown-toggle">Language</a>
              <ul class="dropdown-menu locale-dropdown">
                <li py:for="l in c.detected_l10n_languages" class="locale ${'current-locale' if l[0] == c.language else ''}">
                    <a class="select-locale" data-locale="${l[0]}">${l[1]}</a>
                </li>
              </ul>
             </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <py:with vars="messages = list(h._flash.pop_messages())">
        <div py:if="len(messages)">
          <div class="alert alert-${m.category}" py:for="m in messages">
            ${m.message}
          </div>
        </div>
      </py:with>

<!-- ************************************************************************************************** -->
        <!-- templates/layout.html content include start -->
        ${content()}
        <!-- templates/layout.html content include end -->
<!-- ************************************************************************************************** -->

      <footer>
      <p class="right">&copy;
      <a href="http://okfn.org">Open Knowledge Foundation</a>, 2011
      <a href="http://opendefinition.org"><img src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="Open Content" /></a>
      </p>

      <ul>
        <li><a href="${h.url(controller='help', action='page', path='index.html')}">Help</a></li>
        <li><a href="${g.wiki_link}">Wiki</a></li>
        <li><a href="${g.lists_link}">Mailing List</a></li>
        <li><a href="${h.url(controller='help', action='page', path='api.html')}">API</a></li>
        <li><a href="http://okfn.org/privacy-policy/">Privacy</a></li>
        <li><a href="${h.url(controller='help', action='page', path='contact.html')}">Contact</a></li>
      </ul>
      </footer>

    </div> <!-- /container -->

    ${script_tag('vendor/jquery')}
    ${script_tag('vendor/underscore')}
    ${script_tag('vendor/backbone')}
    ${script_tag('vendor/bootstrap-dropdown')}
    ${script_tag('utils/utils')}
    <script type="text/javascript" src="/static/jslocal/app.js"></script>

    <py:if test="defined('scripts')">
      ${scripts()}
    </py:if>

    <script type="text/javascript" py:if="not g.debug">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8271754-17']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>



