<!DOCTYPE html>
<html lang="${c.language}" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  >

  <xi:include href="_util.html" />
  <xi:include href="dataset/_select.html" />

  <!-- templates/layout.html top -->

  <py:if test="len(_form_errors)">
    <div py:match="input" py:strip="" py:with="error = _form_errors.get(str(select('@name')))">
      ${select('.')}
      <py:if test="error">
        <p class="help-block error" py:content="error"></p>
      </py:if>
    </div>
    <div py:match="select" py:strip="" py:with="error = _form_errors.get(str(select('@name')))">
      <select py:attrs="select('@*')"
          py:with="select_name = str(select('@name'))"
          py:content="select('option|optgroup')" />
      <py:if test="error">
        <p class="help-block error" py:content="error"></p>
      </py:if>
    </div>
    <div py:match="textarea" py:strip="" py:with="error = _form_errors.get(str(select('@name')))">
      <textarea py:attrs="select('@*')"
          py:with="select_name = str(select('@name'))"
          py:content="select('text()')" />
      <py:if test="error">
        <p class="help-block error" py:content="error"></p>
      </py:if>
    </div>

  </py:if>

  <head>
    <meta charset="utf-8" />
    <title>${page_title()} - ${g.site_title}</title>
    <meta name="description" py:if="defined('page_description')"
      content="${page_description()}" />
    <meta name="description" py:if="not defined('page_description')"
      content="We're enabling anyone to explore, visualize and track government spending." />
    <meta name="author" content="Open Knowledge Foundation" />
    <link rel="shortcut icon" href="${h.static('img/favicon.ico')}" type="image/x-icon" />
    <link rel="alternate" type="application/rss+xml" title="Latest Datasets on OpenSpending"
      href="${h.url(controller='dataset', action='feed_rss')}" py:if="hasattr(c, 'show_rss') and c.show_rss" />

    <!-- Le styles -->
    <link rel="stylesheet"
    href="http://assets.openspending.org/branding/fonts/opensans/stylesheet.css" />
    <link href="${h.static('style/bootstrap.css')}" rel="stylesheet" />
    <link href="${h.static('style/style.css')}" rel="stylesheet" />

    <py:if test="defined('optional_head')">
      ${optional_head()}
    </py:if>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <!-- templates/layout.html body -->

  <body>

    <div class="navbar navbar-fixed-top" data-dropdown="dropdown">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/" xml:lang="en"><span class="green">Open</span>Spending</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a class='${"active" if c.content_section=="blog" else ""}'
                href="${h.url(controller='content', action='view', section='blog', path='index.html')}">Spending Blog</a></li>
              <li class="dropdown">
                <a class='${"active" if c.dataset else ""}' href="/datasets">Datasets</a>
              </li>
              <li><a class='${"active" if c.content_section=="search" else ""}'
                href="${h.url(controller='entry', action='search')}">Search</a></li>
              <li class="dropdown">
                <a class='${"active" if c.content_section=="resources" else ""} dropdown-toggle'
                  href="/resources/index.html">Community</a>
              </li>
              <li><a class='${"active" if c.content_section=="help" else ""}'
               href="${h.url(controller='content', action='view', section='help', path='index.html')}">Help</a></li>
              <li><a class='${"active" if c.content_section=="about" else ""}'
                href="${h.url(controller='content', action='view', section='about', path='contact.html')}">About</a></li>
            </ul>
          </div>
          <ul class="nav pull-right">
            <li py:if="c.account is None">
              <a href="/login">Login/Register</a>
            </li>
            <py:if test="c.account is not None">
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/settings">Settings</a></li>
              <li><a href="/logout">Logout</a></li>
            </py:if>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Language</a>
              <ul class="dropdown-menu locale-dropdown">
                <li py:for="l in c.detected_l10n_languages" class="locale ${'current-locale' if l[0] == c.language else ''}">
                    <a class="select-locale" data-locale="${l[0]}">${l[1]}</a>
                </li>
              </ul>
             </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <py:with vars="messages = list(h._flash.pop_messages())">
        <div py:if="len(messages)">
          <div class="alert alert-${m.category}" py:for="m in messages">
            ${m.message}
          </div>
        </div>
      </py:with>

<!-- ************************************************************************************************** -->
        <!-- templates/layout.html content include start -->
        ${content()}
        <!-- templates/layout.html content include end -->
<!-- ************************************************************************************************** -->

      ${dataset_select()}

    </div> <!-- /container -->

    <div id="catapult-cookie-bar">This site uses cookies<button id="catapultCookie" tabindex="1">Okay, thanks</button><a tabindex="1" href="http://okfn.org/cookie-policy">Find out more</a></div>

    <footer>
      <div class="inner">
        <div class="container">
          <p i18n:msg="okfn">
            This is an <a href="http://okfn.org">Open Knowledge Foundation</a>
            project.
          </p>

          <ul class="footer-links span4 pull-left">
            <li><a href="http://wheredoesmymoneygo.org">Where Does My Money Go
              (UK)</a></li>
            <li><a href="http://offenerhaushalt.de">OffenerHaushalt (DE)</a></li>
            <li><a href="http://opencorporates.com" title="The Open Database Of The Corporate World">OpenCorporates.com</a></li>
            <li><a href="http://okfnlabs.org">OKFN Labs</a></li>
            <li><a href="http://italia.yourtopia.net">YourTopia</a></li>
          </ul>
          <ul class="footer-links span4 pull-left">
            <li><a href="http://twitter.com/openspending">Twitter</a></li>
            <li><a href="${h.url(controller='content', action='view', section='help', path='index.html')}">Help</a></li>
            <li><a href="http://lists.okfn.org/mailman/listinfo">Mailing List</a></li>
            <li><a href="${h.url(controller='content', action='view', section='help', path='api.html')}">API</a></li>
            <li><a href="http://okfn.org/privacy-policy/">Privacy</a> and <a href="${h.url(controller='content', action='view', section='about', path='contact.html')}">Contact</a></li>
          </ul>

          <p i18n:msg="code,data,opendef">
          All <a href="http://www.gnu.org/licenses/agpl.html">code</a>,
          <a href="http://creativecommons.org/licenses/by/3.0/">content</a>
          and <a href="http://opendatacommons.org/licenses/odbl/">data</a> is
          openly licensed in accordance with the
          <a href="http://opendefinition.org/">open definition</a>.
          <br/><br/>
          <a href="http://opendefinition.org"><img src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="Open Content" /></a>
          </p>
        </div>
      </div>
    </footer>

    ${script_boot()}

    <py:if test="defined('scripts')">
      ${scripts()}
    </py:if>

    ${analytics()}

  <script src="${h.static('js/jquery.cookie.js')}"></script>
  <script type="text/javascript">
    jQuery(document).ready(function() {
      if($.cookie("cookiecheck")) {
        //If the cookie has been set
        jQuery("#catapult-cookie-bar").hide();
        jQuery("html").css("margin-top","0");
      }
      $('#catapultCookie').click(function() {
        $.cookie('cookiecheck', 'True', { path: '/' });
        jQuery("#catapult-cookie-bar").hide();
        jQuery("html").css("margin-top","0");
      });
     });
    </script>
  </body>
</html>



