<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  >

  <xi:include href="_util.html" />
  
  <py:if test="len(_form_errors)">
    <div py:match="input|select" py:strip="" py:with="error = _form_errors.get(str(select('@name')))">
      <div class="clearfix error" py:if="error">
        ${select('.')}
        <span class="help-inline" py:if="error" py:content="error"></span>
      </div>
      <py:if test="not error">
        ${select('.')}
      </py:if>
    </div>
  </py:if>

  <head>
    <meta charset="utf-8" />
    <title>OpenSpending - mapping the money.</title>
    <meta name="description" content="We're allowing anyone to explore,
    visualize and track government spending." />
    <meta name="author" content="Open Knowledge Foundation" />
    <link rel="shortcut icon" href="${h.static('img/favicon.ico')}" type="image/x-icon" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="${h.static('style/bootstrap.css')}" rel="stylesheet" />
    <link href="${h.static('style/style.css')}" rel="stylesheet" />

    <script src="${h.static('js/libs/jquery-1.5.2.min.js')}"></script>
    <script src="${h.static('js/bootstrap-dropdown.js')}"></script>

    <script src="${h.static('js/libs/underscore-min.js')}"></script>
    <script src="${h.static('js/libs/backbone-min.js')}"></script>

    <script src="${h.static('js/utils.js')}"></script>
    <script src="${h.static('js/script.js')}"></script>
    <py:if test="defined('optional_head')">
      ${optional_head()}
    </py:if>
  </head>

  <body>

    <div class="topbar" data-dropdown="dropdown">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/"><span class="green">Open</span>Spending</a>
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="${g.blog_link}">Spending Blog</a></li>
            <li class="dropdown">
              <a href="#about" class="dropdown-toggle">Datasets</a>
              <ul class="dropdown-menu">
                <li py:for="dataset in c.datasets">
                  <a href="${h.dataset_url(dataset)}">${dataset.label}</a>
                </li>
              </ul>
            </li>
            <li><a href="${g.wiki_link}">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <ul class="nav secondary-nav">
            <li py:if="c.account is None">
              <a href="/login">Login/Register</a>
            </li>
            <py:if test="c.account is not None">
              <li><a href="/settings">Settings</a></li>
              <li><a href="/logout">Logout</a></li>
            </py:if>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <py:with vars="messages = list(h._flash.pop_messages())">
        <div py:if="len(messages)">
          <div class="alert-message ${m.category}" py:for="m in messages">
            ${m.message}
          </div>
        </div>
        </py:with>
        <div id="content">
          ${content()}
        </div>

      <footer>
      <p class="right">&copy; 
      <a href="http://okfn.org">Open Knowledge Foundation</a>, 2011</p>

      <ul>
        <li><a href="${g.wiki_link}">Wiki</a></li>
        <li><a href="${g.lists_link}">Mailing List</a></li>
        <li><a href="${g.api_link}">API</a></li>
        <li><a href="http://okfn.org/privacy-policy/">Privacy</a></li>
        <li><a href="http://okfn.org/contact/">Contact</a></li>
      </ul>
      </footer>

    </div> <!-- /container -->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8271754-17']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>



